[2021-10-07 09:16] #509 closed

[2021-10-09 22:45] #588 closed

[2021-10-10 06:40] yaleman opened #590 "Group modification commands via CLI don't print success on successful events"
They typically print errors, but not successes, even in debug mode 😄 :uwu:

[2021-10-10 15:43] QnnOkabayashi opened #592 "Use `compiled-uuid` for `Uuid` constants"
In `kanidmd/src/lib/constants/uuid.rs`, we have a ton of `Uuid` constants are that initialized via `lazy_static` and `Uuid::parse_str` + `upwrap`. We can avoid this overhead and make the file much shorter by using `compiled_uuid::uuid`, which would let us initialize them all at compile time.

[2021-10-10 22:53] #590 closed

[2021-10-11 04:49] #592 closed, assigned to QnnOkabayashi

[2021-10-12 04:46] yaleman opened #594 "PAM password configuration in documentation"
Per docs in the book: https://github.com/kanidm/kanidm/blob/f1e4a4c7e2f1e9d48ef344052d08badc546f4985/kanidm_book/src/pam_and_nsswitch.md#L155

[code]

Tested on openSUSE Tumbleweed and Ubuntu focal, password changes fail for local users (including root, awks) if config's set this way.

[2021-10-12 08:44] yaleman commented on #594
`pam_cracklib.so` was [replaced with pam_pwquality.so in early 2020](http://dominique.leuenberger.net/blog/2020/05/opensuse-tumbleweed-review-of-the-week-2020-19/), which explains it :) `use_authtok` requires the password from the previous module, which wasn't happening.

[2021-10-16 21:20] yaleman opened #597 "domain_name_change doesn't log success/failure when command completes"

[2021-10-17 15:38] erictapen opened #600 "Nginx integration"
I'm struggling to understand how I'd integrate kanidm into my existing Nginx setup.

Currently I host multiple applications that come without any authentication/authorisation at all (e.g. the Gollum wiki) and proxy them behind Nginx as an reverse proxy. Nginx authenticates users via the [`auth_basic` directive](https://nginx.org/en/docs/http/ngx_http_auth_basic_module.html).

I want to replace thi

[2021-10-17 21:47] Firstyear commented on #600
I think you'll need to look at the auth request module here: https://developer.okta.com/blog/2018/08/28/nginx-auth-request or https://www.nginx.com/blog/validating-oauth-2-0-access-tokens-nginx/ . I personally haven't set this up, but it looks like what you need.

This allows nginix to recognise when a browser session is not-yet authenticated, it will redirect to kanidm for oauth2, and then will a

[2021-10-17 22:57] erictapen commented on #600
Thank you for your reply.

I read the first blog post and am currently working on setting up vouch-proxy to do the job.

[2021-10-17 23:00] yaleman commented on #600
@erictapen I'd be curious to hear back how you went with it, maybe even with an example configuration file? I'm starting to collect them so they can be added as examples for implementation.

[2021-10-18 12:31] erictapen opened #601 "❌ error site when requesting /ui/oauth2"
Working on #600 currently I'm debugging the case of a site only displaying ❌. Kanidm logs (`log_level` is `verbose`) are very sparse in that regard. `auth.erictapen.name` is my kanidm instance. I'm running latest `master` (a993eb9cf35e75e853b453adab5848188471c339).

[code]

The url I'm requesting in my browser is `https://auth.erictapen.name/ui/oauth2?client_id=gollum&redirect_uri=https%3A%2F%2Flo

[2021-10-18 21:41] yaleman commented on #601
I'm looking at this issue as well trying to integrate with oauth2 - the yew [ConsoleService::log()](https://docs.rs/yew/0.18.0/yew/services/struct.ConsoleService.html) is supposed to send it to the user's browser - the page that drops to ❌ doesn't log state though...

[2021-10-18 22:18] Firstyear commented on #601
I think I know what the error is.

[2021-10-18 23:17] Firstyear commented on #601
@QnnOkabayashi An some point this issue is highlighting we need to be able to set the tracing level at runtime because currently we don't map the log levels from kani into tracing levels, but I can't find the correct apis to actually call to set that level? It seems to be baked in in spans? Can you advise on this?

[2021-10-20 04:00] #601 closed

[2021-10-20 12:25] erictapen opened #603 "oauth2: `/oauth2/userinfo` is required for OpenID Connect support"
One other problem I encountered when tackling #600 is that kanidm seems to be missing an endpoint for [OpenID Connect Userinfo](https://openid.net/specs/openid-connect-core-1_0.html#UserInfo).

At least for [vouch-proxy](https://github.com/vouch/vouch-proxy) I have to provide an `user_info_url`, which is required when using an OIDC identity provider. When naively setting it to `https://my.kanidm.i

[2021-10-20 18:11] QnnOkabayashi opened #604 "Runtime-configurable log levels"
We should be able to dynamically configure log levels at runtime for spans based on the configuration. To reduce configuration complexity, filters at the lowest level will apply to all higher levels.

[2021-11-14 01:14] yaleman opened #609 "WebUI - error message on invalid username"
The web UI returns the following error when an invalid username is entered in the login flow:
[code]

[2021-11-14 02:35] yaleman commented on #609
Moved the original "user enumeration through login prompts" discussion to https://github.com/kanidm/kanidm/discussions/610

[2021-11-14 22:58] Firstyear opened #611 "IP access controls for anonymous"
For anonymous searches we should consider limiting these to specific subnet to reduce scope of expose data in unauthenticated contexts.

[2021-11-14 23:08] Firstyear commented on #609
I think this could be a clearer message than it currently it is :)

[2021-11-15 03:37] Firstyear opened #612 "Support extended id_token metadata/claims in oidc"
oidc allows request of some extended metadata via scopes. This includes some items like email address (primary) and other values. We should support these.

See also:  https://openid.net/specs/openid-connect-basic-1_0.html#Scopes

[2021-11-15 03:38] Firstyear opened #613 "Support session logout in oidc/oauth2"
This allows sessions to be logged out across some systems. Relates https://github.com/kanidm/kanidm/issues/406

See also: https://openid.net/specs/openid-connect-backchannel-1_0.html

https://www.rfc-editor.org/rfc/rfc7009

[2021-11-15 03:38] Firstyear commented on #612
https://github.com/kanidm/kanidm/issues/256

[2021-11-15 06:30] yaleman opened #614 "Log on http.host != settings origin when signing OIDC tokens"
Per discussion in #608 it'd be handy to log an event (maybe only when running at debug-ish levels?) when a user tries to go through OAuth/OIDC on a hostname that's not the origin for signing.

I hope the wording's right 😄

[2021-11-21 06:41] #278 closed

[2021-11-21 06:41] #603 closed

[2021-11-22 22:41] erictapen commented on #600
After a couple evenings of tinkering I managed to do my first login on Gollum Wiki!
My current setup is

[code]

Unfortunately I currently depend on current Kanidm master for OIDC support and https://github.com/vouch/vouch-proxy/pull/310 for vouch-proxy to interact with Kanidm properly. So it's not really a stable setup. But as soon as both changes are merged and behind releases, I could writeup a

[2021-11-22 22:43] Firstyear commented on #600
I'm working to provide the username/email claims soon, so any thing else you found in your testing and feedback would be most welcome!

As well, feel free to commit to PR for https://github.com/kanidm/kanidm/blob/master/kanidm_book/src/oauth2.md since that will be part of the next release :)

[2021-11-24 02:40] erictapen opened #616 "Possibility to set `server_name` from config"
Currently (current master 0f4189a57ef9fb0f048cd2cc3f5eee3d132adbd1) it doesn't seem possible to set `server_name` from config, resulting in startup errors like this:

[code]

server.toml:

[code]

My current workaround is patching the source:

[code]

I find it a bit unintuitive to have `example.com` be a default value, this is probably not intended?

[2021-11-24 02:43] Firstyear commented on #616
hey there,

You likely need to do a domain rename: see https://kanidm.github.io/kanidm/administrivia.html

I think that this could be clearer though as a setup step, or earlier in the book. We also could consider a clearer error message here to make it obvious what's going on.

What do you think?

[2021-11-24 03:30] Firstyear commented on #616
Also worth saying the reason the server domain name isn't in the config, is because it has to be consistent across ALL servers, thus it's in the DB for future replication reasons. The config is split into "things that affect this one server" which is the server.toml, and "things that affect all servers" which is in the DB and will be replicated.

[2021-11-24 03:44] erictapen commented on #616
Mh weird, when opening this I was sure that running `kanidmd domain_name_change` only changed the left part (`ed`) and kept the `rp_id`/domain_name untouched. But right now when testing it doesn't seem have an effect on any of them, must've broken my setup somehow.

Thanks for the explanation why it isn't in the config :+1:.

[2021-11-24 03:46] Firstyear commented on #616
No problem, I think an issue like this where we do something confusing still represents a failure in kani to communicate about something, so I think we need some docs improvement, and probably also improve errors around the mis-match of domain to origin about what to change.

[2021-11-24 22:37] #616 closed

[2021-11-25 02:44] yaleman opened #619 "oauth2 auth errors not being logged"
While investigating the following error getting oauth2 working with apache, I'm seeing the following console error:

[code]

I can't find any record in the server logs of `73ffc8db-6fd0-423a-bb4a-6980b0d774e7`,

The redirection's generated here: https://github.com/kanidm/kanidm/blob/fad0dd86e0763b64c8072bd6437ba16ad49698c6/kanidmd/src/lib/core/https/oauth2.rs#L249

That should be logged, because o

[2021-11-25 04:55] #619 closed

[2021-11-26 04:56] Firstyear commented on #350
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-active-directory-overview

[2021-11-29 16:17] erictapen opened #622 "Make `kanidmd domain_name_change` cheap if the name stays unchanged"
The context is that at https://github.com/NixOS/nixpkgs/pull/143134 @Flakebi and I are currently working on making kanidm easily deployable on NixOS. At NixOS we are very commited to declarative configuration. That goes smoothly for kanidm's TOML config, but not for `domain_name`, which [is considered database state](https://github.com/kanidm/kanidm/pull/617#issuecomment-978350062).

For cases lik

[2021-11-29 16:31] erictapen opened #623 "Don't set default domain_name `example.com`"
Continuing https://github.com/kanidm/kanidm/pull/617#issuecomment-978373115 here.

As I already laid out, I think it's an unintuitive situation that `domain_name` is currently set to `example.com` at first startup and then must be changed by the user. A server that is configured with `example.com` is unusable for every situation (except in integration tests), but pretends to be in a state where ev

[2021-11-29 23:19] yaleman commented on #622
I've added prechecks in #624 for the domain name change thing - it wasn't checking beforehand 😄

[2021-11-30 00:11] erictapen commented on #622
Thanks!

[2021-11-30 00:11] #622 closed

[2021-11-30 00:27] Firstyear commented on #622
@erictapen No problem, I think this is a really good idea for it to be a stateful command and to be cheap on that change. I still think my only concern here would be when you have two replicas (in the future) if you haven't deployed this change to both then they will "fight" about what state the domain name will be in. But that's a risk no matter what we do I think ... I think this solves your iss

[2021-11-30 00:28] Firstyear commented on #623
domain_name_change already DOES create the db at startup :)

The flag for if the domain name isn't changed "at least once" could be pretty easy to add, so I think this is absolutely solvable :)

[2021-11-30 00:32] Firstyear commented on #623
Just as an admin note, I'm currently working on adding some final features to oidc at the moment, so I won't be able to work on this for a little, so either remind me in a week or two, or if you want some advice to implement this yourself, I can help out :)

[2021-11-30 00:43] erictapen commented on #623
Cool!

[2022-01-09 02:38] yaleman opened #634 "Send a user notification when new MFA device enrolled"
When new MFA devices are enrolled, it's probably worth notifying users, in case their account has been compromised via another method.

Email's the most likely transport for this - obviously this only works if the user's got one listed - but it's better than nothing and likely to be there either way for other reasons.

[2022-01-22 08:22] MathiasPius commented on #623
I just ran into this problem, while trying to set up my first kanidm installation using Docker.

The way I would intuitively expect provisioning to work would be:

1. Configure `server.toml` with `db_path` set, and `origin` set to `idm.mydomain.com` for example.
2. Running kanidm/server with this `server.toml` should initialize a new database with `idm.mydomain.com` as the domain_name, since no pr

[2022-01-22 23:26] Firstyear commented on #623
I don't really want people to accidentally step on origin != domain name though, which is the problem.

There's already a lot of magic you don't see. Easy to understand just means it has to be transparent what the behaviour is and why.

Generally all of this get's into webauthn stuff pretty quick, because it's the problem area in this matter. Webauthn requires that rp_id must be the effective doma

[2022-01-22 23:27] Firstyear commented on #623
PS: this starts to touch realllllyyyy close to https://github.com/kanidm/kanidm/issues/62 which has been a long standing "desire" for me to do some re-architecture and cleanup. In this case I think you can go ahead and make the change if you want, and I'll look to do the QS cleanup sooner than later to make this kind of thing a bit nicer.

[2022-01-23 00:50] yaleman commented on #623
I'd argue that replication shouldn't even start between two servers/clusters that had different domain names if this was going to be the outcome... there should be some kind of bootstrap check that says "hi, am I even *allowed* to do this, and are we going to torch each other?"

Otherwise you'd get into that situation I've been in with certain network switches where you plug two together and the "

[2022-01-23 01:25] Firstyear commented on #623
Yes that's true, but then if the setting is a property of the cluster, then it should be managed "in that cluster" rather than relying on all the server.tomls to be consistent over each individual node I think.

[2022-01-23 11:19] MathiasPius commented on #623
I had honestly neglected to consider replication, that's a very good point.

My point here would be to disregard the `domain_name` from the database state and instead complete the `domain_name_change`, and validate the `-n` parameter from that command as the "real" `domain_name`. This way you're still validating that (assuming successful completion of the change), the system will be in a correct s

[2022-01-24 01:35] Firstyear commented on #623
Origin is per node. Domain name is the system as a whole.

It's valid to have https://idm.example.com and https://remote.idm.example.com. Both are members of "idm.example.com", but have different origins. If the origin, the *exact* url (proto scheme, domain name and port) that the browser accesses the server on is not the exact same as what is sent in webauthn, it fails. That's why we have to have

[2022-01-24 14:49] MathiasPius commented on #623
Thanks that makes a ton of sense!

In that case, does not the `--initial-domain` as a command line argument (for example) make sense?

From what I can gather from the code, the source of `example.com` as the default domain is set by the `Plugin::pre_create_transform` implementation for `Domain`, which in turn is called whenever a `QueryServerWriteTransaction` is constructed, which happens the firs

[2022-01-24 22:34] yaleman opened #636 "oauth2 - "consent to proceed" prompt"
I'm not sure if this is a debugging thing, but can this be disabled by default, or on an RS basis? It's configured, so it's allowed, and an unnecessary bump to the experience for users.

[2022-01-24 22:36] Firstyear commented on #636
It's required by oauth actually. There is a workflow for denying the workflow, I just havent added the button yet.

[2022-01-24 22:50] yaleman commented on #636
Oh bother, that's annoying. Maybe I'm used to people like Github/google/okta breaking spec and just logging you in...

[2022-01-24 22:52] yaleman commented on #636
Does the spec say it has to be on every authentication flow, or is it just on first login (ever) to a system? The latter would obviously require storage of this ack by the user somewhere.

[2022-01-24 22:56] Firstyear commented on #636
Yep, they are meant to ask for consent - the reason is that if you are already authenticated to the auth provider, then without the consent step we'll implicitly let you through, which MAY disclose your email and other personal details to the third party.

Saying this, I can see that in some cases it may not be needed with some apps in an enterprise or similar.

It's every auth flow according to s

[2022-01-24 23:03] yaleman commented on #636
I like the second option, a single prompt to say "yep, yeet my deets to x app", with a slight change:

becomes

Anything changes, invalidate - it's simpler logic, should be a rare thing (other than when you first configure an RS), and any change = tell the user. Be noisy 😆

[2022-01-24 23:30] Firstyear commented on #623
No, createEvent describes any generic "create" that MAY occur, and adding in extra options here seems like the wrong option to handle a bootstrapping case.

I think the better option would be something similar to what password import does - have a phantom attribute on the domain config entry of initial domain that is populated, and on first run use that if present to set the domain in the domain p

[2022-02-06 01:23] darix opened #637 "how to combine "dynamicuser" with secure permissions for SSL certificates in non container deployments"
there is no user i can give access to the file via ACL e.g. and i am not sure storing certs as `u=rw,go=r` is the best idea.

[2022-02-06 01:26] darix commented on #637
same problem applies to the packages config file

[code]

which ends up in "permission denied"

my usual solution would be `root:kanidm` with `u=rw,g=r,o=`

[2022-02-06 02:46] yaleman commented on #637
This prompted me to ponder doing this properly so I tweaked my systemd startup script.

Given that the StateDirectory's owned by the DynamicUser, this should mitigate the risks of `chmod 444`'ing the cert files.

[code]

[2022-02-06 03:03] darix commented on #637
world readable files is not "correct"

my override file

[code]

[2022-02-06 06:29] yaleman commented on #637
"Correct" would take into account the full path permissions, surely? 😄

I've updated my previous solution to limit things further. The new update has `440` for the cert files and still using DynamicUser.

There's some inherent protections in the systemd DynamicUser. The directory permissions enforced by it mean that without sudo/root, only the created user will be able to access them - `/var/lib/p

[2022-02-08 02:27] Firstyear commented on #637
Well, a big part is that it's hard to effectively check "what we own or not". We've previously discussed changing these checks in the past, but in this case I think that word readable *is* the answer since the upper directories in a dynamicuser environment are where the permissions are enforced.

[2022-02-08 11:37] darix commented on #637
I would normally not put config data like certificates into the same directory as the data managed by the daemon.

[2022-02-08 11:40] yaleman commented on #637
Alternatively, you could put them in the tempdir that is generated for the dynamicuser...?

[2022-02-08 21:03] Firstyear commented on #637
@darix What's an actionable suggestion for this issue then? From my view this seems like a system configuration issue, not a bug in the project, so what is the outcome you want from reporting this? What changes could we consider?

[2022-02-13 00:18] Firstyear commented on #623
So had a chat to @yaleman and we thought about a bunch of the cases. Note a "topology" is a set of nodes in replication for this.

* Create new topology with a new server - define a new domain name and origin.
* New server joining an existing topology - absorb the existing domain name, and validate origin.
* Existing server in the topology - nothing changing
* Existing server in the topology, chan

[2022-02-13 00:32] yaleman commented on #623
So to clean up the entire thread it looks like

- exit(1) on origin/domain mismatch
- add `--check` to `kanidmd server` which checks the configuration is valid, displays it in a parseable way and exit(1) on "we can't start"

[2022-02-13 00:40] Firstyear commented on #623
Okay, I'm working on a PR for this now.  @erictapen and @Flakebi thank you both for your extreme patience as we discussed this, there are going to be some nice changes in the end here I think :)

[2022-02-15 05:20] baoyachi opened #640 "Does kanidm provide a website for demonstration"

[2022-02-15 05:36] yaleman commented on #640
Not at this time, but there's docker instances you can use to quickly spin one up!

[2022-02-15 06:17] #623 closed

[2022-02-15 06:19] #640 closed

[2022-02-15 06:20] Firstyear commented on #640
Yep, as @yaleman said, there is no demo site, but it's very easy to start with  :)

[2022-02-15 06:21] baoyachi commented on #640
oh. See.

[2022-02-15 06:21] Firstyear commented on #640
https://kanidm.github.io/kanidm/

[2022-02-20 02:49] Firstyear commented on #637
Closing due to no response.

[2022-02-20 02:49] #637 closed

[2022-02-20 02:49] Firstyear commented on #600
@erictapen The email claims are available, can you retest with latest git?

[2022-02-20 02:50] Firstyear commented on #461
@yaleman Can I resolve this? We have email address handling mostly in place now.

[2022-02-20 03:48] yaleman commented on #461
Yep, I think that one's
 sorted. I was able to set up email for OAUTH2 use OK.

[2022-02-20 03:55] #461 closed

[2022-02-21 11:57] erictapen commented on #600
I just retested with latest master (f252d91e13a6c358f1495c5965f0028bcbd85c15) and I'm not able to login into Gollum wiki, using the setup described in https://github.com/kanidm/kanidm/issues/600#issuecomment-975980940.

The failure I'm seeing is that the login flow seems to work correctly, until the last step. When I confirm "Consent to Proceed to Gollum Wiki" it only reloads the same page again,

[2022-02-22 02:19] Firstyear commented on #600
About the only way we could fix this is to add username as a claim duplicating preferred usecrname but I'd rather not ....

[2022-03-06 11:48] yaleman opened #644 "Investigate OpenTelemetry for metrics"
https://docs.rs/opentelemetry/latest/opentelemetry/

expands on #221

[2022-03-06 23:22] #106 closed

[2022-03-07 06:44] Firstyear commented on #644
It looks like https://github.com/tokio-rs/console/issues/69 will probably be a better fit for what we need :)

[2022-03-07 21:57] yaleman commented on #644
Ah, I think one feeds into the other, from my understanding - OT's about a single format for collating (not necessarily collecting) and exposing things

[2022-03-07 22:52] Firstyear commented on #644
The other one I found while looking is dhat-rs and slab. So I think for now I'll use those since they seem closer to what I want for understanding our memory usage in dev vs runtime.

[2022-03-08 21:23] obel1x opened #645 "domain_name_change does not change rp_id"
I installed packages for opensuse 15.3, kanidm 1.1.0-alpha.7 as described and edited delivered server.toml

running the setup with my domain like this:
`kanidmd domain_name_change -c /data/server.toml -n obel1x.de`

returns:
`[admin.error]: You must change origin or domain name to be consistent. ed: "https://obel1x.de:8443" - rp_id: "example.com"`

shouldn't "-n" set the rp_id to "obel1x.de" and c

[2022-03-09 02:57] Firstyear opened #646 "Changes to release process"
Semi-relates to #645

There are a small number of admin changes to the release process we need to make:

* Change release date by 1 month, to 1st may, causing a +1 to all the release months (agreed on in chat by community)
* Change from tagged releases to release branches (allows patch backports for N-1).
* Change current docs generation to have a "dev" and "release" stream, since currently docs a

[2022-03-09 04:42] yaleman commented on #646
So like.. multiple available versions of docs? That could get fiddly on github pages :S

[2022-03-09 04:43] Firstyear commented on #646
Yeah, that's what I was thinking.

[2022-03-09 06:36] pando85 commented on #646
I don't know if it is too much for what are you looking for but I have this done:
https://rash.sh/docs/rash/v1.7.0/

https://github.com/rash-sh/rash/blob/master/.github/workflows/pages.yml
https://github.com/rash-sh/rash-sh.github.io

I forked https://github.com/rook/rook.github.io .

Just for sharing.

[2022-03-09 09:16] yaleman commented on #646
@pando85 that looks cool, but I'm *so* confused by how many different pieces you're pulling together!

[2022-03-09 09:55] pando85 commented on #646
mdbook + github pages. I just created a custom mdbook because I want to have some documentation automatically generated from code to avoid repetition, but if we stop that it could be simpler.

Also, if you don't want to set up a web page probably you can simplify it a lot more.

[2022-03-09 11:00] yaleman commented on #646
Yep, we've already got cargo docs + mdbook (for the main site) in the repo - it generates https://kanidm.github.io/kanidm/

I've got some ideas around pushing more code-related docs back into the code, and keeping the book for "high level" things... but that'll take some pondering.

[2022-03-09 19:49] obel1x commented on #645
oh, right and many thanks!

i did read that thread, but what was missing for my second brain cell, was the information, that to change the domainname via command, the origin in the config must not be changed (!) and needs to be e.g. "idm.example.com" to do so.

Only after changing the domainname via command, the origin in the config can be changed afterwards to match.

All fine, closed this

[2022-03-09 19:49] #645 closed

[2022-03-09 22:37] Firstyear commented on #645
@obel1x Thanks for reporting the issue :) glad I could help you solve it.

Don't feel bad that you missed that detail, it was a really large conversation. There are some lessons we can certainly learn here, I think a large one is that currently our docs always come from git master, where we probably need a split between latest and "release" channel. I think there is already a PR to improve that.

[2022-03-09 22:55] Firstyear commented on #646
I think we could make the book build part of the release process, rather than a github action since a released version should not be changing much.

[2022-03-11 08:59] euank opened #648 "Self-service 'person' attribute modification"
Currently, the canned access control policies don't include one for self-modification of your own email attribute.

The closest we have is this one:

https://github.com/kanidm/kanidm/blob/58fb559262163d9fcd748a8dda0e53ae41b9f266/kanidmd/src/lib/constants/acp.rs#L117-L122

I think I want to have self-service email modification, which naturally leads me to the questions:

1. Should there be a policy

[2022-03-11 09:36] yaleman commented on #648
Not currently, I think @Firstyear has some ideas about implementation.

[2022-03-12 04:13] Firstyear commented on #648
ACP allow modification, but it has to be done manually right now. Currently you can do this with:

[code]

Where changes.json contains:

[code]

This will change the current definition of the self write access control to extend it to allow self write of mail. This IS upgrade safe, where during a migration we will NOT remove custom added attributes like this, we only assert the attributes that we s

[2022-03-12 04:15] Firstyear commented on #648
Oh you can also show the current set of access controls that exist with:

[code]

You'll need to be logged in as admin to see these as well.

[2022-03-27 01:11] yaleman opened #652 "kanidm group list does not show results by default"
We're using `info!()` to print the outputs but ... info-level messages aren't being printed?

[2022-03-27 05:33] Geo-7 opened #654 "Could not run from source (kanidm v1.1.0-alpha.7)"
Hi,
[code]
Based on this: [guide for developers](https://github.com/kanidm/kanidm/blob/master/DEVELOPER_README.md).
I created insecure keys & certs then:
[code]
gives error:
```error: a bin target must be available for `cargo run` ```
then I :
[code]
also gives error:
[code]

1. removing "--offline" from kanidmd/builder.sh does not help
2. cargo build in parent folder dose not help either
3. downl

[2022-03-27 08:27] yaleman commented on #654
@Geo-7 thanks for calling this out, I'm guessing it relates to recent changes in the build workflow. I'll sort the docs in the next day or two, apologies for the inconvenience!

[2022-03-27 08:35] Geo-7 commented on #654
Thanks for your quick response :) .

[2022-03-27 08:48] Firstyear commented on #654
@yaleman is this related to the update concread ticket? I can get that done asap if yes.

[2022-03-27 11:25] yaleman commented on #654
@Firstyear I don't think so, it looks like since some past re-organisation the docs are pretty out of date - they mention MSRV of 1.49.0 for starters 😄

[2022-03-27 11:30] yaleman opened #655 "CA trust doesn't seem to work while running kanidm"
I'm trying to sort out the dev docs and ... the CA trust option isn't working?

[code]

Testing it with curl works fine so it's not the cert.

[code]

[2022-03-27 11:58] cuberoot74088 commented on #652
Hi @yaleman

Thanks for your prompt response and looking into that issue.

I have already left a comment on the commit. Happy to follow up.

Cheers
Cuberoot

[2022-03-27 22:33] Firstyear opened #657 "Detect long spans in tracing"
As discussed in https://github.com/QnnOkabayashi/tracing-forest/issues/6 we should make a tracing layer to detect long running spans.

[2022-03-27 22:36] #654 closed

[2022-03-27 23:07] Firstyear commented on #654
@Geo-7 I've merged @yaleman's changes, would you mind re-testing with them? If that doesn't work let us know again and we're happy to help :)

[2022-03-27 23:09] Firstyear commented on #655
Gonna sanity check, the ca.pem is the ca that signed the server cert? You can check with `openssl verify -verbose -CAfile ca.crt server.crt`

[2022-03-28 00:13] yaleman commented on #655
Yep, it's coming from the `insecure_generate_tls.sh` script I'd just worked on - and that's what the `curl` check was for 😄

[code]

[2022-03-28 03:39] #652 closed

[2022-03-28 04:12] Geo-7 commented on #654
Sure, I'll inform you ASAP.

[2022-03-28 05:21] Geo-7 commented on #654
Thank you all, It is working now.
There is only one little warning, I do not know if you want to fix it in insecure_generate_tls.sh or not.
[code]

[2022-03-28 05:23] yaleman commented on #654
That one's fine as-is, it's just a startup warning.

[2022-03-28 05:31] Firstyear commented on #654
Yeah, it's a security hardening suggestion :) There are some ways we need to make that check a bit clearer though.

[2022-03-28 23:03] Firstyear commented on #648
Hey @euank did you get a chance to try this out?

[2022-03-28 23:04] Firstyear commented on #600
@erictapen Did vouch-proxy ever update to resolve this?

[2022-03-29 00:18] Firstyear opened #661 "Documentation review"
Can you please review the tech-writing / docs :)

[2022-03-29 04:38] euank commented on #648
Thanks a ton for the help, and thanks for following up!

I ran the above, but I ended up hitting an issue (and only just now got back to digging into it enough to give more info).

The issue I've running into is that it seems like the default self-write permissions aren't enough for the `_person/_extend` API to work.

Specifically, doing the following on a freshly created test account gives me the

[2022-03-29 04:42] Firstyear commented on #648
Ahhh I think the person has to "already be a person" for them to have this ability. Seems like a quirk of the way the cli is currently written I think that it's hitting that little trap.

So you need to do "kanidm account person set -D idm_admin testaccount" first (which should setup the account to now be an account AND a person, then the "testaccount" should be able to go from there.

If that doe

[2022-03-29 05:25] euank commented on #648
Having to make em a person first makes sense, but I still run into the same error after I do. The server logs for making a self-service change are identical after running the above idm_admin command, or after setting person attributes via idm_admin.

From my reading of the code, the same APIs called either way (`_person/_extend`), and that code just unconditionally adds a modification for `Modify:

[2022-03-29 19:42] vDorst opened #662 "How to make PAM settings presistant?"
Every time I update my openSUSE tumbleweed and it updates PAM or some packages around it.
It rewrites the `/etc/pam.d/*` to default. So it overwrites all the kanidm-settings which is a pain.

How to make the kanidm settings presistant?

[2022-03-30 00:00] Firstyear commented on #662
It's missing parts of the docs, I've put in a PR to clarify. Have a look and see if it helps :)

[2022-03-30 00:03] Firstyear commented on #600
@erictapen Okay, I think since it's specifically a vouch-proxy bug (they are incorrectly using claims in oidc) rather than a kanidm issue, I'd like to close this :)

[2022-03-30 00:03] #600 closed

[2022-03-30 00:23] Firstyear commented on #648
Yep, it's definitely a bug I think. I think in the CLI we need to seperate "extending an account to be a person" and "setting values of a person". So  Ithink the current _extend api has to stay "as is" because that actually does the class extension, but I think we need to add a person set or similar api. On the cli if I changed it to be:

[code]

I think given this is intended to be self service,

[2022-03-30 00:34] #662 closed

[2022-03-30 04:01] euank commented on #648
I agree that moving it under `self` makes a lot of sense.

It also mirrors the current pair of commands we have of:

[code]

Though if we keep adding things to the `self` namespace, it might get crowded enough that we want to have subcommands, like `self credential set_password`.

On the flip side, we already have a lot of stuff under `account` which is self-service by default and requires the nam

[2022-04-01 00:26] Firstyear commented on #648
Please do give it a go! I'm happy to review and help out. I'm in the middle of another pretty big bit of work (self-service credential update + user onboarding) but I'll look at this after that if you haven't gotten to it by then :)

[2022-04-03 22:24] euank commented on #648
With #667 being merged, I'll close this. My initial use-case, of self-service mail setting, now works with the above change + raw ACP modification.

The two followups I have are:

1. Update docs and/or default ACPs to make it clear how to make mail self-service.
2. Better CLI usage for self-service stuff, i.e. `self` commands for setting mail/legalname

For 1, I'll just open a PR modifying the ACP

[2022-04-03 22:24] #648 closed

[2022-04-04 00:00] Firstyear commented on #648
Well, I'd rather not have "docs" on manually editing acps, as I'd rather proper cli tools to create and manage these. But I'm also considering rewriting a bit of their internals so I don't want to expose that yet. I think there is already an issue open to allow an admin to modify these though?

And yes, the self command needs a bit of work, I think we should have an issue to talk about what it cou

[2022-04-04 01:38] euank opened #668 "UX and api design for common functionality between "account" and "self""
### Background

This issue is to try and figure out the right way to model commands that modify accounts, and may also be self-service.

For a motivating example, let's look at the following existing pair of commands:

[code]

Let's also consider a hypothetical pair of commands:
[code]

There are several other attributes which may be self-service, and all of them have a similar potential split.

I

[2022-04-04 01:45] euank commented on #648
On the `self` stuff, I filed https://github.com/kanidm/kanidm/issues/668 with my current thoughts and with two questions I think we can start with.

Let me know if you have any thoughts or think there's a better place to start than that!

For 1, self-service mail, I agree documenting `raw` commands seems fraught. I think there still might be a reasonable thing to do in the meanwhile though!

I thi

[2022-04-04 19:12] cuberoot74088 opened #669 "oauth2 add cli option to update the displayname"

[2022-04-04 22:35] #669 closed

[2022-04-04 23:21] Firstyear commented on #648
Yeah, I think you're correct, lets have a self_write_mail where if you are a member of some group, then you get that ability to self write. How does that sound?

The main reason I want to avoid the acp update for now, is I want to restructure how they work internally to improve performance, since acp eval is currently a big chunk of our search path performance.

[2022-04-04 23:34] Firstyear commented on #668
I don't think we need the /whoami, because the user's account token (UAT) is transparent, and already contains the uuid, so we can just introspect the session locally and get the uuid from there :)

Otherwise,  I think is the right way to do it.

The main thing to be careful of is that I want to split "person" vs "account". IE a person can self-write, but an account can not. Consider a service acc

[2022-04-09 22:28] yaleman commented on #668
Cheering along the current ideas - one API endpoint for a given action regardless of target UUID makes a lot more sense than having to support multiple routes 😄

I'd argue against the `self` mapping shortcut, just because it's more code to maintain and code accumulates bugs. As noted by @Firstyear the user knows their own UUID from sign-in and even if they didn't, a call to `/whoami` isn't the wor

[2022-04-09 22:37] yaleman commented on #668
From a CLI -> credential perspective, maybe a slightly more hierarchical tree like this?

[code]

[2022-04-11 01:43] Firstyear commented on #668
@yaleman Well, given how credential is being reworked atm it's more likely to be:

[code]

But I think we can focus on that a bit in the current credentual update session pr I'll be posting soon.

[2022-04-11 01:44] Firstyear commented on #668
Yep, agreed :)

I liked the suggested "traits" what contain a "get_target" method, it's nice and simple and I think it would let us already remove the self routes.

[2022-04-11 05:57] yaleman commented on #668
I'd probably move "trusted devices" up a layer in the tree, since while they are *technically* credentials if you squint, I'm not sure that's as ergonomic.

And the children of "primary" up under credential - having it nest so deep is a bit... challenging from a discovery perspective.

[2022-04-13 10:49] obel1x opened #673 "WebUI / Leap 15.3 / kanidm_tools 1.1.0-alpha.7"
I installed kanidm on Leap 15.3 and it seems to work by cmdline.

When i login into webui either with admin or with idm_admin, the page looks strange. I guess the Page should contain data, but i do only see "section title" and a table containing two rows having (with header) like:

"1,001 | random | data | placeholder | text | -- | -- | -- | -- | --"

on the left side, there is "Account" selectabl

[2022-04-13 10:50] Firstyear commented on #673
Yes, the UI is a placeholder right now.

@yaleman I think we should make the config.toml default to noUi to avoid issues like this, so that in dev we can present them. Alternately we feature gate the UI because it's still such a WIP. What do you think? We keep the login/oauth pages though.

[2022-04-13 10:52] obel1x commented on #673
you won the price for fastest answer - thank you  Ok, i read other threads asking about features there, so i guessed it would work. i am closing this for now

[2022-04-13 10:53] Firstyear commented on #673
Gonna re-open because it is a valid issue! We shouldn't show placeholders like this, and I'd like @yaleman's thoughts :)

[2022-04-13 11:14] obel1x commented on #673
ok. So my thoughts: delivering the webui- feature in "preview" mode is a good thing, as it can show how it could look like. Maybe add some header like / "Section title - Non functional WebUI right now" to make this intuitive

[2022-04-13 11:39] yaleman commented on #673
If these things don't work then it's just styles failing to load IIRC - you can't login without the WASM stuff loading..

[2022-04-13 18:19] cuberoot74088 commented on #673
I agree with @yaleman about the "preview warning".
Probably a stupid question, would the oauth2 flow still work without ui?

[2022-04-13 22:33] yaleman commented on #673
@Firstyear I'll take this on over the weekend unless you have a desperate need to write HTML

[2022-04-13 23:48] Firstyear commented on #673
@yaleman I don't need any distractions, because I really want to get credential on boarding done ahaha. So I'll leave it to you :)

[2022-04-14 02:25] Firstyear commented on #668
You're completely right, that's a good point :)

[2022-04-16 23:23] yaleman opened #710 "Change github actions settings to avoid dependabot explosions"
Currently it's running on both PR and push which isn't great.

[2022-04-16 23:56] #673 closed

[2022-04-27 03:02] #710 closed

[2022-04-27 03:43] Firstyear commented on #288
Thinking about it, I'm not sure this is needed since per-client should decide on the caching in the unixd case.

[2022-04-27 03:43] #288 closed

[2022-04-27 03:45] Firstyear commented on #646
@yaleman given this is coming up, where could we commit a copy of the book content so that it's served online? IE so that we have "latest" and "stable"?

[2022-04-27 03:59] yaleman commented on #646
🤔 I couldn't figure out a really simple way of doing that at the time, I'll have a play tonight... I have ideas

[2022-04-27 12:12] yaleman commented on #646
Seems to be working, so that's a thing. Someone really needs to push all the various code bits up to crates.io so the docs are done automagically 😁

[2022-04-28 02:31] Firstyear commented on #646
I do the crates.io docs release as part of the normal release so that's all good :)

[2022-04-28 04:16] yaleman commented on #646
Argh I just realised you're stopping tagging, which breaks the docs automation 🙄

[2022-04-28 04:17] Firstyear commented on #646
@yaleman No, I'll tag the first commit on the branch too. Should still work.

[2022-04-28 08:20] yaleman commented on #566
This is still blocked by the lack of ability to implement it at a server level - https://github.com/http-rs/tide/issues/448

The best mitigation is a reverse proxy in front of the instance like nginx et al.

[2022-04-29 00:44] #609 closed

[2022-04-29 03:19] Firstyear commented on #646
I think with the doc changes we are good to close this now? Since I'll apply these changes to the process in the next release?

[2022-04-29 04:45] yaleman commented on #646
Seems good to me, I still have a bunch of fixing on the docs, but they're getting there.

[2022-04-29 05:40] #646 closed

[2022-04-30 03:02] matthew-salerno opened #725 "kanidm-unix daemon returns parse error when the real issue is the CA key"
### I did this
I tried running the kanidm-unix daemon. I got `ERROR kanidm_unixd: Failed to parse /etc/kanidm/config`
This error was not caused by failure to parse, but strace reveals it was caused by permission denied on the CA key. Adding read permissions to the key fixed it.

### I expected the following
I expected the error to tell me the CA key could not be read.

### Kanidm version (and git

[2022-04-30 03:43] matthew-salerno opened #726 "permissions on /path/to/key may not be secure"
### I did this
I ran `RUST_LOG=debug /usr/sbin/kanidm_unixd` and received the warning:
```permissions on /my/key.crt may not be secure. Should be readonly to running uid. This could be a security risk ... ```
Despite my permissions being set to 644.

### I expected the following
I expected not to get the warning

### Kanidm version (and git commit)
1.1.0-alpha.7 c8468199fcdff481e3efe67516337b368de

[2022-04-30 07:12] matthew-salerno commented on #216
Just gonna through my opinion here since this is still in dev. I just read over openmetrics. I like it quite a bit. Not a fan at how hard it is to read, but it makes sense under their design constraints for high throughput of metrics. That being said, idk how well it lines up with our use case here. I imagine for detailed info people would use the logs and maybe an aggregator. We also probably don

[2022-04-30 08:39] yaleman commented on #216
If you're monitoring the metrics of an IdP, then ingesting prometheus metrics (which is the base implementation of OpenMetrics) should be trivial - it *can* be a curl request and it gives you a list of key-value pairs of `metric value`, ie `memoryUsed 123456778`.

In the current alpha stage there's less to monitor, but as soon as any replication's occurring then there's plenty of things to capture

[2022-04-30 09:58] yaleman commented on #726
What user were you running it as? I can see a possible logic issue where if you were running it as root, it shouldn't throw the warning.

The intention is that the file is read-only to the user running the daemon.

[2022-04-30 10:13] yaleman commented on #725
I've updated the comment in the source - it's *supposed* to log errors when it fails to read the cert, but we've made changes to log handling over time and is throwing an `error!()` but that isn't bubbling up far enough by the looks of it.

[2022-04-30 10:25] yaleman commented on #725
This *could* be similar to the issue with CA trust in #655

[2022-04-30 14:56] yaleman opened #728 "Orca documentation/examples"
Plz can haz? Even just a simple "this command makes it go" because... the structopt things are confusing and I want to see if I'm making kani slow 😅

[2022-05-01 01:10] Firstyear commented on #216
well, there is also stuff related to cache behaviour and efficiency too that we could be capturing, but I just haven't exposed all of that either ...

But yes, thanks for your comments @matthew-salerno, I think early on I'd probably just make a json end point, but as @yaleman points out, once we have more systems in a large topology it becomes a bit more interesting.

We may even wanth to start to

[2022-05-01 01:13] Firstyear commented on #726
Can you provide the ls -al  of the key.crt so we know what user owns it and what group owns it, and the uid:gid of the user you are trying to launch kanidm_unixd as?

You're probably right about the different path for the readonly check though, there are a lot of limitations in the rust "readonly()" check that we've learnt about :)

[2022-05-01 01:20] Firstyear commented on #728
It's not so simple, orca "takes over" your database and assumes it can reset it and write arbitrary content.

If you want a simple crash course, we could make a readme for the tool, but I'd rather leave it a bit quiet atm given it's still a work in progress.

Anyway, orca works in a few steps.

1. (Optional) preprocess an anonymised 389-ds access log (created from an external tool) into an orca da

[2022-05-01 01:36] yaleman commented on #728
Sweet, this is entirely for speed-testing dev, so being able to blow up the DB's fine. 😄 I'll give that a go, thanks 😄

[2022-05-01 02:46] Firstyear commented on #726
@yaleman It looks like they are running alpha.7, so this actually has already been resolved in latest and we are about to release it. I found one place that was a little inconsistent on a review, but this should be working in alpha.8

[2022-05-01 02:46] Firstyear commented on #725
@yaleman It looks like a similar thing, we have tidied up a lot about tracing in alpha.8 compared to this, so I think this is resolved next release.

[2022-05-01 03:02] Firstyear commented on #725
[code]

From latest, so I think this can be resolved :)

[2022-05-01 03:03] Firstyear commented on #726
[code]

Permission check is different now, should clear this up :)

[2022-05-01 18:31] matthew-salerno commented on #726
Thanks for forcing me to double check permission, it looks like I'm doing something wrong that's specific to redhat servers. I think I'm supposed to be using a tool generated key from somewhere else. I have no idea why I was getting that error, my best guess is I accidently forgot to leave root from a few previous operations  I was doing. I'm getting contradictory results now alongside different e

[2022-05-01 18:31] #726 closed

[2022-05-02 00:02] Firstyear opened #734 "Import users from slapd"
Develop tooling to help import users from slapd - see openldap_to_ds for prior work in this area

[2022-05-02 00:03] Firstyear opened #735 "Import users from 389-ds"
Support importing accounts from 389-ds

[2022-05-02 00:03] Firstyear opened #736 "Import accounts and groups from freeipa"
Support importing accounts and groups from freeipa

[2022-05-02 02:32] #728 closed

[2022-05-15 10:39] Firstyear opened #755 "Support rfc 8705 - bind oauth2 bearer tokens to tls or browser sessions"
Support rfc8705 which allows oauth2 bearer tokens to be bound to mTLS sessions. This can help to prevent API token exfil, and also assists with client validation and security scenarioes.

[2022-05-17 23:35] yaleman opened #761 "radius - add better error handling"
**Is your feature request related to a problem? Please describe.**

The radius python script takes a config file but doesn't handle checking for its contents nicely, so want to do that.

**Describe the solution you'd like**

Handle the below gracefully, checking for each required setting and making a list, then returning it if any are missing.

[code]

**Describe alternatives you've considered**

[2022-05-17 23:39] yaleman opened #762 "docs - developer -> note the devel github containers"
**Describe the solution you'd like**

Add notes pointing to the gh packages from the developer readme.

- https://github.com/orgs/kanidm/packages?repo_name=kanidm
- https://github.com/kanidm/kanidm/pkgs/container/radius

[2022-05-23 05:58] kellinm opened #768 "docs - explain the Makefile options for developers"
**Documentation for Makefile usage**

As a developer, it would be handy to have documentation of options for the `Makefile` and a general theory of what's expected.

For example, I'm curious what [the `ARGS` reference is to a `redis` cache](https://github.com/kanidm/kanidm/blob/ec7c3cc6238459e7098c0ae948f4fb21fb27439e/Makefile#L7).

**Describe the solution you'd like**

Identify whether it is pref

[2022-05-23 07:04] yaleman commented on #768
I'd say the developer readme would be the best case at the moment, until we get to a point where the [book page](https://kanidm.github.io/kanidm/master/DEVELOPER_README.html) gets unreadable.

The Makefile's a bit of a jumble at the moment, where I've hacked in docs/container build things...

The current value in `ARGS` is remnants of @Firstyear being the main dev and using [sccache](https://githu

[2022-05-24 00:49] #513 closed

[2022-05-24 01:44] Firstyear commented on #768
Yep, I've commented on the PR about what we can do to help change this to work for you. :)

[2022-05-24 05:25] #768 closed

[2022-05-25 09:40] yaleman opened #777 "Automated build from Makefile is failing on ARM"
### I did this

Ran `make build/kanidmd` on my Raspberry Pi (or github actions, which compiles to ARM via QEMU)

### I expected the following

The compile to finish successfully.

### Kanidm version (and git commit)

Current dev (commit c26ccb9b389ebee90b7a0e1482ae299ccb9336e4)

### Operating System / Version

Docker image `opensuse/tumbleweed:latest`

Output of uname -a:
[code]

### Any other com

[2022-05-26 11:38] yaleman opened #788 "kanidmd is logging WEB_UI_PKG_PATH when in no-ui mode"
### I did this

Ran kanidmd server in WriteReplicaNoUI mode, which disables the UI

### I expected the following

It not to log this:

[code]

### Kanidm version (and git commit)

running on the docker devel build 6adfd10a3c84bf994e76ef09d147df79036ede25

### Operating System / Version

n/a

### Any other comments

[2022-05-26 22:55] Firstyear commented on #725
@yaleman  @matthew-salerno This has been fixed up in the latest release, can we close this? :)

[2022-05-26 23:10] yaleman commented on #725
Sure, this one's been fixed as far as I can tell.

[2022-05-26 23:10] #725 closed

[2022-05-27 12:49] #788 closed

[2022-05-27 15:34] MateusAmin commented on #668
I like and use this software and want to pay it forward. @Firstyear pointed me in the direction of this ticket so I am going to take a crack at it. I am writing down my thoughts here for the sake of discussion but would prefer that it gets done to @Firstyear preferences.

These are some initial thoughts from reading discussion. I still don't know the CLI or code that well.

## Points of discussion

[2022-05-27 22:47] #762 closed

[2022-05-28 01:00] yaleman commented on #668
I'd assume that non-technical folks will likely be using the Web-UI for provisioning, and CLI-lovers will be able to parse the incremental complexity of "self" vs other tasks? It's an interesting idea though, as the project continues and UI gets more complex. From a development/maintenance perspective I'd avoid adding another CLI tool to maintain, too.

UI-greying/hiding is messy and adds complexi

[2022-05-29 06:44] yaleman opened #796 "RADIUS configuration"
I'm trying to test the RADIUS things, and [the docs](https://kanidm.github.io/kanidm/master/radius.html) seem have gotten out of alignment with the commands:

To read these secrets, the RADIUS server requires an account with the correct privileges. This can be created and assigned through the group "idm_radius_servers" which is provided by default.

The first two commands work fine, but `reset_cre

[2022-05-29 23:52] Firstyear commented on #796
@yaleman Oh I see. I think recently there was a change to make radius credentials self-serve only on persons, and admin is an account, not a person. So perhaps we need to change the docs up on this to properly indicate that by default only persons can self-change radius credentials, but I think they can have them enrolled by delegated accounts (I think idm_admin is one).

Does that help?

[2022-05-30 00:32] Firstyear commented on #668
That's possible, but see below/above - the cli is intended for power users, so I think it's more a "shortcut" in this case for an admin to just tweak their own account. So we likely don't need this kind of split (yet?) - I'm very open to be wrong!

Well, we could do the trait-style split inside of the current kanidm binary, and then if we decided we want the kanidm-self binary, it would be a prett

[2022-05-30 05:02] yaleman commented on #796
Alas no, I tried with both `idm_admin` and `admin` accounts already (which was the screenshot above):

[code]

[2022-05-31 03:17] Firstyear commented on #796
@yaleman It looks like there should be "idm_radius_secret_write_priv" which grants this via membership to that group. It should default to idm_admins as a member. can you confirm if that's the case?

From my instance:

[code]

Should have been auto-added and migrated during the previous release upgrade.

[2022-05-31 04:10] yaleman commented on #796
yep, looks to be

[code]

[2022-05-31 05:24] Firstyear commented on #796
Ahh I see the issue. The radius secret write priv excludes members of high privilege. I think you need to target a non-hp account for the gen secret.

[2022-05-31 05:25] Firstyear commented on #796
There is certainly something to be said about how some of the default privs are laid out, and we could certainly review these in the future :)

[2022-05-31 10:53] yaleman commented on #796
So... it reads like there's no way to freshly set up a RADIUS server at the moment, then?

[2022-05-31 11:02] Firstyear commented on #796
Hang on. Are you trying to set the accounts *service* password? Or it's radius password?

[2022-05-31 11:10] yaleman commented on #796
Well I tried everything and all of it was failing, so ... I'd love to know what's required.

`reset_credential` is not a valid command, and the configuration file refers to it as the "secret" but nowhere have we documented which one to use. 😄

[2022-05-31 11:12] Firstyear commented on #796
@yaleman Are you trying to set the "radius credential" that a user will use when they want to loging to a radius service?

Or the "password" that the radius service account will use to talk to kanidm?

[2022-05-31 11:23] Firstyear commented on #796
ALTERNATELY in worst case, you can do the same recovery process as you would for the initial admin setup:

[code]

Otherwise, I'll need to see the logs of the reset_credential attempt, because it's should be `primary_credential` that is being changed here.

[2022-05-31 11:25] yaleman commented on #796
Ok, cool - now I know it's just the account password that's much clearer, thanks :)

On 2022-05-31 21:23 Firstyear wrote:

`

Thanks,

James Hodgkinson
Phone: 0409474678

[2022-05-31 23:39] Firstyear commented on #796
@yaleman Sorry about that, deleted your comment as you disclosed PII in the email signature :)

For posterity, they were acking the solution.

[2022-05-31 23:46] yaleman commented on #796
Totes fine, am working on testing RADIUS things now. ❤️

[2022-06-02 05:15] #796 closed

[2022-06-02 23:40] yaleman opened #803 "system oauth2 create error response needs humanizing"
Just another :uwu: fix

Output:

[code]

**Describe the solution you'd like**

More human-readable error for this one, like "Invalid origin specified: Invalid Url (whatwg/url) syntax"

I'll look into unpacking the error :smile:

[2022-06-02 23:41] Firstyear commented on #803
Hey, at least it contains something semi-human inside! It's progress :P

[2022-06-03 00:29] yaleman opened #804 "service_documentation field in oauth2 openid-configuration is incorrect"
### I did this

[code]

### I expected the following

A valid URL in the field service_configuration (ie, https://kanidm.github.io/kanidm/stable/oauth2.html)

I got:

[code]

### Kanidm version

[code]
Valid as of 0b3fc8caf0c1d47c8d23f65fd16b87db64424033

### Operating System / Version

Opensuse Tumbleweed

### Any other comments

Code is here:

[code]

[2022-06-03 01:28] yaleman commented on #803
No judgement! Just acknowledgement of a thing I need to remind myself to do 😄

[2022-06-03 03:25] Firstyear commented on #804
Yeah, I think this shuold be pretty easy to resolve :)

[2022-06-03 03:28] yaleman commented on #804
Yep, just keeping notes about the things I wanna fix 😄

[2022-06-04 01:24] yaleman opened #806 "account softlocks happening a lot during testing"
### I did this

Used the auth endpoint a lot with python while testing the `kanidm` module. (testing branch here: https://github.com/kanidm/kanidm/tree/radius-python)

tl;dr what the RADIUS module's done in the past, just... a lot during testing without completing the full auth flow - because I'm incrementally testing parts of it.

### I expected the following

Being able to authenticate quickly w

[2022-06-04 09:26] yaleman commented on #806
reproduction steps:

1. update your `~/.config/kanidm` to have `username/password` or `radius_service_username/radius_service_password` set to the details of a service account.
2. install the package/deps in a virtualenv - the easy way is `cd pykanidm && python(3) -m pip install poetry && poetry install`
3. run the tests a couple of times quickly, it'll start failing after the first run normally:

[2022-06-04 09:27] yaleman commented on #806
reproduction steps:

1. update your `~/.config/kanidm` to have `username/password` or `radius_service_username/radius_service_password` set to the details of a service account.
2. install the package/deps in a virtualenv - the easy way is `cd pykanidm && python(3) -m pip install poetry && poetry install`
3. run the tests a couple of times quickly, it'll start failing after the first run normally:

[2022-06-05 00:15] yaleman opened #808 "kanidm account person extend does not print a success message"
**Is your feature request related to a problem? Please describe.**

Nothing is returned to the user when a change is made

**Describe the solution you'd like**

Something to tell the user what changed

**Describe alternatives you've considered**

Running `sudo rm -rf /` in the shell but that would be harsh.

**Additional context**

:uwu:

[2022-06-05 05:08] #804 closed

[2022-06-05 05:10] Firstyear commented on #806
The issue is that softlocking only occurs if you are rapidly attempting to authenticate with the *wrong* password. There is no rate limit on the *correct* password. There is also a 24 maximum attempt limit which you may have very rapidly hit if this is a service account. You can "unlock" the softlocks with a server restart though, since they are in-memory.

But I'd check your service account passw

[2022-06-05 05:13] yaleman opened #810 "kanidmd auto-built container doesn't have the web ui files"
### I did this

Ran the container

### I expected the following

The WebUI to be available

### Kanidm version (and git commit)

(the latest one as at naow)

`ghcr.io/kanidm/kanidmd@sha256:7ac44b5ef710fabe3c5dd260cb35c1764b97b1834a3b30957df159b9cd572abe`

### Any other comments

I'm the one that didn't package it, awks.

[2022-06-05 05:14] Firstyear commented on #810
I forgive you <3

[2022-06-05 05:15] yaleman commented on #810
Or maybe I did and the paths are all bent, but the container can't find the path 😄

[2022-06-05 05:30] #810 closed

[2022-06-05 06:30] #170 closed

[2022-06-06 23:40] Firstyear commented on #806
Nah, the limit's are here:

https://github.com/kanidm/kanidm/blob/master/kanidmd/idm/src/credential/softlock.rs#L76

And it follows this state machine workflow:

https://github.com/kanidm/kanidm/blob/master/kanidmd/idm/src/credential/softlock.rs#L3

This is per nist sp800-63b, allowing a maximum of 100 attempts in a 24hr period. As more and more failures occur, the "backoff" delay increases. It co

[2022-06-07 00:05] yaleman commented on #806
Oh, it's likely I ran pytest 100 times with that one particular "send the wrong password" test 🙄 I'm planning on having "live" and "mocked" tests but y'know me... YOLO in prod...

Thanks for the info, at least I know where to do look now!

[2022-06-07 00:13] Firstyear commented on #806
Well, it's good to test what happens if you send the wrong password ... at least we know it doesn't allow it! That would be embarrassing.

[2022-06-07 00:14] #806 closed

[2022-06-07 03:09] yaleman opened #818 "Automated ARM build failures"
The docker_build GitHub Action keeps failing on ARM builds because of OOMkiller (`exit code 137`)

Looks to relate to this: https://github.com/docker/build-push-action/issues/621 where dockerized ARM builds in github actions + rust = fail 😢

[2022-06-12 20:04] daedric commented on #600
if someone like me stumble upon this issue, the current version (0.37) does work:

You need to `extend` an account with an email address and add the email scope.

[code]
I've in my vouch-proxy scopes: `scopes = [ "login" "openid" "read_user" "profile" "email"];`
and then it works :)

[2022-06-12 22:24] yaleman commented on #600
thanks for the update @daedric!

[2022-06-12 22:49] Firstyear commented on #600
@daedric Is that something we could add to the book in https://github.com/kanidm/kanidm/blob/master/kanidm_book/src/integrations/oauth2.md ?

[2022-06-13 07:22] daedric commented on #600
@yaleman thanks but is it more of an @erictapen success :)
@Firstyear maybe it is more of a "faq" issue since from what I understood it is not a standard behavior from vouch-proxy?
In any case, I'd be glad to do a PR :)

[2022-06-14 00:56] Firstyear commented on #600
That would be great, especially around the minimum versions required for it to work :)

[2022-06-16 13:41] yaleman opened #825 "recover_account doesn't print password to stdout, and making it output in JSON"
**Is your feature request related to a problem? Please describe.**

I'm trying to reset the password as part of doing some automation, and the CLI's outputting both logs and the password output to stderr, which makes that harder.

**Describe the solution you'd like**

Ideally, an option to return the password/message as a JSON object like this (but on a single line):

[code]

Results in:

[code]

[2022-06-20 01:35] Firstyear commented on #825
We probably also need it to mute logs by default in this mode.

[2022-06-20 01:37] #636 closed

[2022-06-20 02:09] yaleman commented on #825
I was thinking we could/should force them to stderr somehow?

[2022-06-20 02:19] Firstyear commented on #825
I think it already is?

https://github.com/kanidm/kanidm/blob/master/kanidmd/score/src/lib.rs#L530

[2022-06-20 02:21] yaleman commented on #825
Oh I meant all the *other* logs 😄

[2022-06-20 02:22] Firstyear commented on #825
Ahh yeah. They would go to stderr if I finally got off my ass and went to tracing-forest proper, we're still using the dev-version intree.

[2022-06-21 22:04] yaleman opened #849 "Content-Security-Policy Headers "interpreting self as a hostname""
### I did this

Added the CSP headers in #740

### I expected the following

Not making things worse 😄 The current one has a "self" entry without single quotes.

### Kanidm version (and git commit)

current - `kanidmd --version` is broken too!

### Operating System / Version

all

### Any other comments

Error from firefox:

[code]

[2022-06-22 00:36] yaleman commented on #761
this was closed by #796

[2022-06-22 00:36] #761 closed

[2022-06-22 00:36] Firstyear commented on #849
Where is the self ending up? That's a weird one ....

[2022-06-22 04:13] yaleman commented on #849
The current headers are pretty permissive, including `https:` and `self` but they should just have `'self'` with the single quotes.

[2022-06-22 12:30] #849 closed

[2022-06-23 22:27] yaleman opened #853 "Console TOTP registration - present registration URI to the user"
**Is your feature request related to a problem? Please describe.**

When registering TOTP credentials on the command-line, the user is presented with the secret, but this can lead to apps generating SHA1 responses.

**Describe the solution you'd like**

Present the uri version as another option for user consumption.

**Describe alternatives you've considered**

Eating cake, but I was told that's n

[2022-06-26 08:02] #825 closed

[2022-06-26 08:08] #803 closed

[2022-06-26 08:08] #853 closed

[2022-06-26 08:24] yaleman opened #860 "Implementing display_domain_name"
### Discussed in https://github.com/kanidm/kanidm/discussions/857

<div type='discussions-op-text'>

<sup>Originally posted by **yaleman** June 24, 2022</sup>
... we have the domain name, ie `kanidm.example.com`, but ... a user-facing name like "Krabby's Super Secure IT Company" in things like the UI headers or (as was the impetus for this) the TOTP Service name.

</div>

@Firstyear:

- [x] new fi

[2022-06-27 23:06] yaleman opened #871 "Docs Error - Resetting Account Credentials"
### I did this

Read the docs here: https://kanidm.github.io/kanidm/master/accounts_and_groups.html#resetting-account-credentials

### I expected the following

Valid docs, but I got old ones. It should refer to `account credential update`

[2022-06-27 23:22] #808 closed

[2022-06-28 02:58] yaleman commented on #860
Don't need to touch pykanidm because it doesn't look at it yet

[2022-06-28 15:40] Leoyzen opened #873 "credential reset failed"
### I did this

kanidm account credential reset --name admin idm_admin

### I expected the following

admin recovery success

### Kanidm version (and git commit)

1.1.0.beta-8

[kanidm(d) --version]

1.1.0.beta-8

### Operating System / Version

docker

### Any other comments

log shows internal error with status 500.

[code]
I think maybe it related to time zone setup? (I'm using UTC+8 which now

[2022-06-28 22:11] yaleman commented on #873
If you're trying to reset the password for a user, please use the `account credential update` flow.

`account credential reset` consumes the result of the `create_reset_link` output, apologies if this was confusing.

[2022-06-28 22:24] yaleman commented on #873
Or `kanidmd recover_account idm_admin` - I'm currently updating the docs around this in #871

[2022-06-28 23:06] Firstyear commented on #873
@Leoyzen Yeah, it looks like you are trying to do the initial "account recovery" but using the credential reset flow which requires you to have done some other steps. Check out https://kanidm.github.io/kanidm/stable/server_configuration.html#default-admin-account

[2022-06-29 00:12] yaleman commented on #873
I'm going to change the last verb of `account credential reset` to `use_reset_link` - unless someone comes up with a better verb 😄

[2022-06-29 00:13] Firstyear commented on #873
It's not really using the "full link" but a "token" so use_reset_token? Or use_reset_pass?

If we make it "use_reset_link" we should make it capable of identifying when someone pastes the URL in full, and then to trim out the token from that so that we are tolerant to people really pasting the full link.

[2022-06-29 00:41] yaleman commented on #873
I'd totally support both to avoid confusion and also increase the possibility of me crying over parsers.

[2022-06-29 00:54] Firstyear commented on #873
Heh, fair.

[2022-06-29 02:16] yaleman opened #875 "rename account credential reset"
**Is your feature request related to a problem? Please describe.**

Per the discussion in #873, `account credential reset` is confusing.

**Describe the solution you'd like**

- [x] Rename the `reset` verb to split out to `use_reset_token`
- [x] Update the output of `account credential create_reset_link`
- [x] Rename create_reset_link to create_reset_token because I'm sassy

**Describe alternative

[2022-06-29 02:22] yaleman commented on #873
I've created #875 to track the change

[2022-06-29 03:04] Leoyzen commented on #873
I've already done using "account credential recover_account admin", and it still not works.

These are steps:

1. setup docker container and server.toml
2. `/sbin/kanidmd recover_account -n admin -c /data/server.toml`
3. `/sbin/kanidmd recover_account -n idm_admin -c /data/server.toml`
4. go to https://xxx:8443, and neither admin nor idm-amin can't be login. It shows `Account is temporarily locked

[2022-06-29 03:07] Leoyzen commented on #873
The keypoint is `Account is softlocked, or has no credentials associated.` and I don't know what it means even searching issues and source code.

[2022-06-29 03:38] Firstyear commented on #873
Are you persisting your database? You don't seem to have a volume listed in your commands, so it could be that your database is being reset between each command. You need to mount it to /data ...

[2022-06-29 03:57] Leoyzen commented on #873
@Firstyear Of cause it is persisted. Here is the screenshots.
![图片](https://user-images.githubusercontent.com/5518468/176348274-55407d44-9ed9-43a9-a7bc-2b99eba7bfd3.png)

[2022-06-29 04:00] Firstyear commented on #873
Can you screen shot the whole process from an empty container and include all the log outputs?

[2022-06-29 04:17] yaleman commented on #873
Also, a dump of the environment variables and which specific docker container, please

[2022-06-29 05:03] yaleman commented on #873
If you're recovering the account while kanidmd's running (ie, you've `docker exec`'d into it, that can cause issues.

[2022-06-29 05:04] Firstyear commented on #873
Oooooooooooooo Yes, that would do it as well actually, since you'd change whats on disk but not in the ARC. We need to do process detection and prevent running when kanidmd already exists to prevent this.

[2022-06-29 05:06] yaleman opened #876 "ensure that only one kanidmd is running at the same time"
### I did this

Ran kanidmd recover_account while kanidmd was running in another process.

### I expected the following

Password recovery - but it doesn't work until server restart, and can lead to db corruption

### Any other comments

- check for kanidmd
- maybe check for the db temp files too?

Ref comments in #873

[2022-06-29 05:27] Firstyear commented on #876
Well, it's worse than that, it actually crould introduce DB/schema/other corruption. We need to actually refuse to run/open the db while another proc has it open.

[2022-06-29 05:56] Leoyzen commented on #873
@yaleman @Firstyear yeah, it's the problem....I'm changing the password while the server instance is running.

Restart the server solved the problem.

[2022-06-29 06:19] yaleman commented on #873
Glad we found the cause! #876 will hopefully guard against this one 😄

[2022-06-29 06:19] #873 closed

[2022-07-02 06:36] #860 closed

[2022-07-04 02:01] Firstyear opened #892 "Improve cred update session resumption"
Currently the credential update token is stored in memory, which can cause a page refresh or cli ctrl-c / restart to fail. We should allow session resumption or cancellation to improve the user experience.

[2022-07-04 07:33] yaleman opened #893 "kanidm_unixd logging - when can't write to sql path, log filename"
This really should log the *path* it can't write to.

[code]

[2022-07-04 10:39] #893 closed

[2022-07-05 00:38] Firstyear commented on #755
Alternate, we could look at https://datatracker.ietf.org/doc/html/draft-ietf-oauth-dpop

[2022-07-05 00:38] yaleman opened #896 "Test/force-run mode for kanidm_unixd"
While testing recently I couldn't force kanidm_unixd to run as root, it'd be nice if we could do this. :smile:

- [ ] `--configtest` flag, to validate/dump config then exit
- [ ] `--force` flag to skip the "won't run as root" mode

[2022-07-05 00:49] yaleman commented on #875
The fix for this is happening in #874 under branch yaleman/issue871 because I'm great like that.

[2022-07-05 01:21] yaleman commented on #93
I can confirm that `kanidm` (the CLI) builds on Windows - and is automated https://github.com/kanidm/kanidm/actions/workflows/windows_build.yml

[2022-07-05 01:38] #871 closed

[2022-07-05 01:38] #875 closed

[2022-07-05 07:31] yaleman commented on #93
Once #903 is merged, kanidmd's also working 😄

[2022-07-05 22:38] yaleman opened #905 "Windows permissions checks"
In #903 I TODO'd the file permissions checks in `kanidmd`, one should be able to reimplement them with the official `windows` rust crate https://microsoft.github.io/windows-docs-rs/doc/windows/Storage/index.html

[2022-07-05 22:57] yaleman opened #906 "Static "UI Offline" page when in No-UI mode - or proper 404's"
**Is your feature request related to a problem? Please describe.**

When in No-UI mode, going to the root dir with Safari will download a blank file, seemingly because the content-type's unset but Kanidm is still sending headers and cookies and things.

**Describe the solution you'd like**

Look at a Middleware that sends a simple 404 page of "Not Found" with a `text/html` content-type when respon

[2022-07-08 21:42] trissylegs commented on #876
SQLite has an exclusive access mode. Via:
[code]

Meaning sqlite will grab the file lock and never let go of it.

https://www.sqlite.org/pragma.html#pragma_locking_mode

[2022-07-08 23:19] yaleman commented on #876
IIRC backups are handled because it's all done in a transaction or something like that, I know I called it out at the time..

[2022-07-09 02:07] trissylegs commented on #93
Also checked with Windows 11 on ARM64. kanidm CLI works as expected and Tests pass.
Windows has OpenSSH but doesn't support AuthorizedKeysCommand. So that's most of what's possible now.

[2022-07-09 02:37] yaleman commented on #93
Nice! Thanks for testing!

[2022-07-10 02:59] yaleman opened #912 "Implement dev mode for integrity hashes"
**Is your feature request related to a problem? Please describe.**

When doing dev things it'd be nice to not have to restart the server to update the integrity hashes when we're making a lot of changes to
WASM/JS.

**Describe the solution you'd like**

Either:

- have a mode which stops sending them at all
- have a mode which updates them on every page load

**Describe alternatives you've conside

[2022-07-12 10:52] yaleman commented on #191
XFF is currently supported by the tide config as-is:

[code]

Slightly reformatted logs:

[code]

It's probably a little trusting - typically there should be a trust list for these kinds of things - so every random on the network can't just say "I'm bob from accounting"

[2022-07-12 11:04] Firstyear commented on #191
Aaaaaaaaa okay, I didn't realise it was "already working" as is, so we need to look into that and has a trust list as you say.

[2022-07-13 23:14] yaleman opened #919 "Auth result logging - include SPN on auth results, not just session id"
**Is your feature request related to a problem? Please describe.**

Currently the only thing logged is the session ID when an auth result is returned, eg:

[code]

Given the current way that's formatted, it could also be JSON-formatted too 😇 This'd be flattened across the line:

[code]

**Describe the solution you'd like**

Include the target user's SPN.

**Describe alternatives you've considered*

[2022-07-13 23:22] Firstyear commented on #919
You can use uuid2spn to resolve these correctly for accounts that don't have them :)

[2022-07-18 00:14] Firstyear commented on #93
I think this can be closed then?

[2022-07-18 00:15] Firstyear commented on #912
In non-release mode, just don't calculate the hashes at all then? Wouldn'th that resolve this?

[2022-07-18 00:38] Firstyear commented on #876
Backups are done in a read-txn so we don't need exclusive mode. The main issue here is what happens across a container boundary or similar. Also what happens in a crash?

[2022-07-18 08:52] yaleman commented on #876
As in what happens if we take a pragma lock and the process?

[2022-07-18 09:14] yaleman commented on #93
Looks like it? #905 has been opened to implement the missing file permission checks, there's a few requests in the original issue description that I have no clue about though 😄

- runnable as a network service  (I haven't got a server install to test it)
- compiled binary signing

All the other stuff looks to be done.

[2022-07-18 09:33] yaleman commented on #912
Alas, that'd take turning off the CSP hashes middleware, which makes tests fail... and they're kinda important.

This isn't high-priority, just a dev-nice-to-have when doing lots of UI messing around.

[2022-07-19 04:45] trissylegs commented on #93
Network service is mostly a permission thing (there's a special user for network services that that has less privlages).
Compile Binary Signing will require a Fancy EV code signing certificate. Which is a bit more complicated so should be it's own ticket.

[2022-07-20 00:38] Firstyear commented on #93
For now I think if it costs money, it's not happening. But the other parts are viable, but we probably need an installer/setup of some kind too .... but I think that also needs to be it's own issue, and really depends on demand.

[2022-08-02 09:49] yaleman opened #966 "Credential update modal - error on cancel"
### I did this

Click the blue cred update button in the security tab, then click cancel.

It reliably comes up with an error.

### I expected the following

Simple cancel and return to the UI.

### Kanidm version (and git commit)

Current head (container image 8ebdeed1aa02)

### Operating System / Version

Server: opensuse tumbleweed on linux, browser is edge/safari.

### Any other comments

<img

[2022-08-04 10:29] yaleman commented on #966
I think I know what this is, it's trying to send a "cancel the session" request but we haven't started one.

[2022-08-04 10:31] Firstyear commented on #966
The moment you click to update the credential you should have started the session to update though?

[2022-08-04 10:31] Firstyear commented on #966
Could this be related to the session id / token not being persisted properly over say a reload?

[2022-08-04 10:37] yaleman opened #967 "OAuth2 `oauth2_rs_origin` - can we make this accessible to an authenticated user?"
**Is your feature request related to a problem? Please describe.**

If I'm a pubbie I run `kanidm system oauth2 list` and get a list of OAuth2 apps. As `admin` I see the origin, but as `idm_admin` or `testuser` I only see displayname/Vec<class>/uuid.

I'd like to be able to access the "Apps" page on the Web UI and get a list of apps, with a link to each one.

**Describe the solution you'd like**

[2022-08-04 10:49] yaleman commented on #966
Click this
<img width="553" alt="image" src="https://user-images.githubusercontent.com/168188/182827836-33544399-8b55-4ca4-9166-1f63f1a2a174.png">

Then click cancel - one hasn't started updating a credential yet as far as I can tell? ... then again, if I do the "add a passkey" process, then hit cancel, I get the same error.

b3dadaec-c229-4ac4-a2cf-ebef03a5d70f 2022-08-04T10:48:14.298760+00:00 ER

[2022-08-04 11:13] Firstyear commented on #967
This has been on my radar for a bit. I have "ideas" about how to do this right :)

[2022-08-05 00:22] Firstyear commented on #966
Nah, the token is there and it's in the inspector of network traffic. It looks like it's being lost somehow or not deserialised properly which means there is no token/body in the server so it (rightly) rejects the op

[2022-08-05 00:26] yaleman commented on #966
Yeah, that's what I was looking at last night, I'm poking around in there at the moment and ... might find it ... 😆

[2022-08-05 00:38] Firstyear commented on #966
It's there in the wireshark to the server, and it's correct json.

[2022-08-05 00:39] Firstyear commented on #966
I'd say next we need to look at `505     let session_token: CUSessionToken = req.body_json().await?;` in kanidmd/score/src/https/v1.rs

[2022-08-05 01:00] Firstyear commented on #966
Okay, I know what it is. It's a difference between when you use the credential update with an intent token vs not. Let me dig into the internals.

[2022-08-05 01:15] #966 closed

[2022-08-05 01:17] Firstyear opened #969 "Improve error messages"
Currently error messages rely on a lot of trace level context to identify their cause. In production we don't have this, so messages at error or warn level need their context expanded to include:

* What went wrong + Where it went wrong
* Why that caused an error to be thrown.
* What can be done about it.

[2022-08-06 14:04] vDorst opened #972 "Latest kanidm docker image: [admin.error]: Schema Violation in validation of modify_pre_apply MissingMustAttribute(["version"])"
I updated kanidmd server from dockerhub.

[code]

[code]

I thougth may my config is wrong, lets run `configtest`. But get the same result

[code]

`server.toml`:
[code]

[2022-08-06 14:48] yaleman commented on #972
Curious, I'm guessing there's a migration step missed somewhere between the version you were running and the current one. 😭  @Firstyear is the wizard with the know-how on that front currently 💟

[2022-08-06 14:48] yaleman commented on #972
I was able to start up the current build from docker against a current DB, but that doesn't really help...

[2022-08-06 14:51] vDorst commented on #972
I check docker image updates once every 2 weeks, but there were no update for a long time.
I think for more than 5 months.

[2022-08-06 15:04] yaleman commented on #972
The ones on Docker are the "release" versions, so they only get bumped on the point releases. Dev-release images which get automagically built are available here: https://github.com/kanidm/kanidm/pkgs/container/kanidmd

[2022-08-07 01:08] Firstyear commented on #972
The error is because of 1d6440538 which introduced a version field on the domain struct. I added it because I realised that we needed ... to, well know what version of the domain info we were running in certain migration contexts.

This should be migrated with internal_migrate_or_create from JSON_DOMAIN_INFO_V1, however it looks like that isn't happening. I'll setup a .8 and a .9 version of the se

[2022-08-07 02:53] Firstyear commented on #972
@vDorst What image versions are you going from and to? I can't re-produce with point 8 to point 9 in my own environment. I'm going to extend the error logging though in this area to try to help.

[2022-08-07 14:17] vDorst commented on #972
Annoyingly podman don´t show you the docker.io sha256 tag clearly.

This is the current image that I am trying.

https://hub.docker.com/layers/kanidm/server/latest/images/sha256-f6e21328baaa75f83b5770e653a7e27e93bf6a29bb96345e195c5133a36f266a?context=explore

Which one I am was coming from was `sha256:65df98c58ba4c8f9869375766c0cf41377e97a7d72d9a668152fae4f625881f3`.
But it seems that getting old

[2022-08-07 14:44] vDorst commented on #972
I restored the database file from the backup and run the latest docker image again.

output:
[code]

Also I saw this warning: `WARNING: DB folder permissions on /data/db indicate it may not be RW. This could cause the server start up to fail!`

But the permissions seems OK to me.
[code]

[2022-08-07 23:14] yaleman commented on #972
The DB RW check is faulty, it shouldn't have an ! on the front:

[code]

[2022-08-07 23:14] yaleman opened #984 "DB RW check is faulty, it shouldn't have an ! on the front:"
The DB RW check is faulty, it shouldn't have an ! on the front:

[code]

_Originally posted by @yaleman in https://github.com/kanidm/kanidm/issues/972#issuecomment-1207504519_

[2022-08-08 00:25] yaleman opened #985 "Cred Update sessions may live too long in the browser"
Since we now only remove them from temporarystorage when the user clicks cancel, I have this brainworm that it might be a problem that they hang
around and expire server-side, then the user can't start a new one.

Need to entesten this.

[2022-08-08 01:48] Firstyear commented on #972
@vDorst can you run withe "-e RUST_LOG=trace" in the podman args?

Thanks for letting me know about the versions, I'll trying doing the direct update from .7 to .9.

[2022-08-08 02:03] Firstyear commented on #972
Okay, I've managed to reproduce now by doing the upgrade from .7 to .9, I will continue to investigate.

[2022-08-08 04:06] Firstyear commented on #972
@vDorst I've updated latest and devel with the patched images, can you please let us know how it goes?

[2022-08-08 06:28] vDorst commented on #972
@Firstyear, I pulled the latest devel version.

At first glans it seems to work. But restarting the server is seems the database is corrupted

With fresh restored database from the backup, first startup
[code]

But then I restarted the server
[code]

[code]

Try to list all the indexes:
[code]

[2022-08-08 07:49] Firstyear commented on #972
@vDorst I think in this cycle I tightened some rules about credential parsing, which is what you are hitting. I'm going to loosen them back up a bit on the older credential versions, and add more debug logging around that. I have also re-uploaded a new version of the devel container, and will open a PR too. So sorry this upgrade has been a bit rough, I never really expected someone to upgrade from

[2022-08-08 07:50] Firstyear commented on #972
@vDorst In other words, please re-pull the newest devel container and re-run. For more logging add -e RUST_LOG=debug to the podman arguments.

[2022-08-08 18:21] vDorst commented on #972
@Firstyear

I have a script that pull new data from `docker.io`.
I run this round every two weeks.
So it is strange that I have missed a version in between.

A new try but still corrupted on the second try.
[code]

Second startup:
[code]

[2022-08-09 00:48] Firstyear commented on #972
Ahhhh. You happen to be the one user using a very specific MFA setup that I didn't think would exist! Okay, I'm correcting the rules to allow Password + Security Key without TOTP again.

[2022-08-09 00:48] Firstyear commented on #972
@vDorst Are you a firefox user by any chance?

[2022-08-09 01:09] Firstyear commented on #972
@vDorst newest devel image has fix :)

[2022-08-09 02:58] #972 closed

[2022-08-09 03:07] #984 closed

[2022-08-09 07:46] vDorst commented on #972
For me that seems not that abnormal.

Yes, I am.

Not a problem. It works now with  `x86_64_devel`. I also can restart it and login via Firefox.

Database upgrade:
[code]

Second restart
[code]

Is it correct that the WebAuthN behavior has changed for the CLI tool?
Now the CLI tool asks for a pin for my [HyperSecu HyperFIDO Pro Mini](https://www.hypersecu.com/hyperfido) (FIDO2) device.
But the sam

[2022-08-10 01:15] Firstyear commented on #972
Okay, so longer term, security keys with passwords will be removed. The reason is that webauthn and ctap as a specification have really botched them in weird ways making them unviable for newer keys in a consistent and secure way. So password will only pair with TOTP, and security keys will become passkeys/device keys ,which are a self contained multifactor authenticators.

Right, that explains wh

[2022-08-10 01:15] Firstyear commented on #972
PS: Part of the pain is that we are an early adopter of this technology, and it's still changing and evolving.

[2022-08-11 22:40] yaleman opened #989 ""version" output for all clients"
It'd be handy to be able to run `kanidmd version` and get the version (and git commit, at compile).

This'd help with identifying which specific code you're running, to work out how @yaleman managed to break it this time.

**Describe the solution you'd like**

Where possible for all CLI programs, run `<program> version` (or `<program> --version` for the unixd-related ones?) and get something like:

[2022-08-12 02:03] Firstyear commented on #989
git-version has "fallback: If all else fails, this string will be given instead of reporting an error.". So we can embed something in there like the cargo/crate version I think. I think that's accessible via let version = env!("CARGO_PKG_VERSION"); per https://doc.rust-lang.org/cargo/reference/environment-variables.html

[2022-08-12 18:09] max-privatevoid opened #990 "LDAP service accounts with additional permissions / Access mail attribute via LDAP for Postfix"
**Is your feature request related to a problem? Please describe.**
I'm trying to deploy Kanidm in a self-hosting/hobbyist scenario with a handful of users, as a replacement for our exising FreeIPA installation. We run our own mail server with user authentication and mailbox mappings provided through LDAP. As the `mail` attribute in Kanidm is not readable by the anonymous user, LDAP lookups cannot

[2022-08-12 23:41] Firstyear commented on #990
@max-privatevoid Thanks for your interest in the project!

The reason today why LDAP binds force anonymous access, is that they currently relate to the unix password of the account which is a single factor of authentication. If we allowed this to access attributes, then all the nice MFA we have higher up, goes out the window because ... well, single factor!

However, that doesn't mean it's *not* p

[2022-08-12 23:45] Firstyear commented on #990
Relates #406 #613 session logout / tracking will be needed for this to work correctly. Which conveniently was my next "todo list" item.

[2022-08-19 00:50] Firstyear commented on #990
@max-privatevoid I've started to work on this, but I might be slowed down a little because I sadly sustained a pretty significant injury in the last 24 hours.  But this task is a priority for me :)

[2022-08-21 01:26] yaleman commented on #989
Updated OP to mention how git-version works (it only works if you're actually in the repository) and updated the list.

[2022-08-21 01:35] yaleman opened #996 "WebUI - admin interface beginnings"
As a user with admin privileges, I'd like to be able to look at the details of other users in the Web UI.

**Describe the solution you'd like**

 - [ ] add an "admin" link in the nav
 - [ ] present a list of options (accounts, groups, feral crab management, oauth2 integrations)
 - [ ] when clicking on "accounts", be prompted with a list of users
   - [ ] which when an account is clicked, will pres

[2022-08-24 01:34] Firstyear commented on #996
So this is not super easy because:
* We need the server to indicate if a user can or can not "see" the admin ui link (which is kinda permission dependent but kinda not)
* The ability to show what you *can* and *cannot* edit (partially started via the permission test code as part of credential update)

It's been something in the back of my mind for a while, but we do need to really consider how to

[2022-08-24 06:52] Firstyear commented on #500
@yaleman Isn't this kind of done now? We can certainly polish it, but it's all in place.

[2022-08-24 08:33] yaleman commented on #500
It's ugly but it works... I'll poke at this over the weekend and do some human errors.

[code]

[2022-08-24 08:51] yaleman commented on #996
Yep, for sure - similar to the OAuth2 RP list thing, it's going to force some investment into these kinds of interface things. I was going to go with a "assume the user has access, and handle permissions errors when making the calls" approach.

Editing's a whole other problem/issue/bag of nightmares 🤣

[2022-08-25 01:29] Firstyear commented on #500
Yeah, we can probably implement std::fmt::Display for this to make it more human?

[2022-08-25 02:02] yaleman commented on #500
That's the plan :D

[2022-08-25 22:45] vDorst opened #1003 "kanidm account credential update broken?"
### I did this

I am trying to remove my WebAuthN keys and try to add new ones.
I resetted my WebAuthN keys so they have the right password.

But I get constantly a `An error occured -> Transport(reqwest::Error { kind: Request, url: Url { scheme: "https", cannot_be_a_base: false, username: "", password: None, host: Some(Domain("<mydomain>")), port: None, path: "/v1/credential/_update", query: None

[2022-08-26 06:44] yaleman commented on #1003
Can you please pull the server logs for when you attempted the change? The `IncompleteMessage` is a curious one.

[2022-08-26 07:07] Firstyear commented on #1003
Yep something is certainly wrong, I'd love to see the logs too please. So sorry this latest update has been so rough for you @vDorst :(

[2022-08-26 13:28] vDorst commented on #1003
Server logs don´t show any activity when this happens.
With `RUST_LOG=trace` is clearly shows why this happens.
Hyper tries to reuse the connection but de connection is closed.

Client logs
[code]

I think the issue is my HAProxy server that is inbetween the server and client.
So it looks like this CLIENT -> SERVER -> HAPROXY -> KANIDM CONTAINER.

Only what HAproxy does is look at the SSL handshak

[2022-08-26 22:40] yaleman commented on #1003
If you're doing two different invocations of the `kanidm` client, it's starting a whole new TCP connection/HTTP session each time.

While you're doing a cred update, it's starting a TCP/HTTP session for the initial part of the transaction, and expecting to be able to reuse the idle HTTP connection which is seen here:

I'd bet hyper is trying to use [TLS session resumption](https://blog.cloudflare.

[2022-08-30 03:17] Firstyear commented on #655
Is this still an issue?

[2022-08-30 03:58] #500 closed

[2022-08-30 05:42] yaleman commented on #655
Looks like it is 😭

This works:

[code]

But this doesn't, so this confirms openssl is trusting it based on the `-CAfile` param:

[code]

Client config:

[code]

Client connection:
[code]

This can be replicated by standing up a dev server (starting in the repo root):

[code]

etc.

[2022-09-02 04:21] #466 closed

[2022-09-02 04:21] #655 closed

[2022-09-05 06:15] theSuess opened #1023 "Configurable value of `preferred_username` claim"
**Is your feature request related to a problem? Please describe.**

When connecting to external systems using OIDC, the preferred_username attribute equals the full spn, including `@idm.example.com`. In my opinion, this results in "ugly" usernames for third party applications, so I would like to have this set to just the name.

**Describe the solution you'd like**
Either introducing a configuratio

[2022-09-05 22:56] yaleman commented on #1023
I could see a two-step lifecycle for implementation of this feature:

1. config file option for the server `oidc_short_preferred_username` (bool) which sets `preferred_username` to `name` when it's true, and `spn` when it's false.
2. A claim-mapping system which can apply to either global config or on a per-RS basis allowing `oidc_field=kanidm_field` settings.

Embedded scripting? oh noooooooo 😄

[2022-09-06 01:18] Firstyear commented on #1023
I'd rather the bool than embedded scripting. Too much surface area for testing.

[2022-09-06 04:53] theSuess commented on #1023
Then I'll work on implementing the option first and take a look on how to structure claim-mapping second. Will have to familiarize myself with the backend code anyway.

[2022-09-07 00:45] Firstyear commented on #1023
I don't think a claim mapping is needed if we have the bool method? Anyway, @theSuess the code you want is likely in kanidmd/idm/src/idm/oauth2.rs which defines how an oauth2 config is parsed and handled, and kanidmd/idm/src/constants/schema.rs line 1272 which defines the database schema of a oauth2 description. You'll probably need to chuck in a new bool similar to JSON_SCHEMA_ATTR_OAUTH2_ALLOW_I

[2022-09-08 03:37] #896 closed

[2022-09-08 03:38] yaleman opened #1025 "kanidm_unixd exit codes"
in #1024 I removed the exit code responses when `kanidm_unixd` quits during an error condition - this needs to be restored.

**Describe the solution you'd like**

Return code 1 when bad things happen 😄

**Additional context**

Something something async tokio 🧀 🦀

[2022-09-08 03:57] Firstyear commented on #1003
@vDorst How did you go with this?

[2022-09-11 21:53] vDorst commented on #1003
Not so well. It is too bad the article is currently not available at the moment.
Also the lack of time to solve this. So am I going to close this issue.
When I do have the time I try to fix my haproxy setup or make it different.

[2022-09-11 21:53] #1003 closed

[2022-09-11 22:36] yaleman commented on #1003
It's on the wayback machine if you want to read it 😄 Feel free to re-open this issue if you still need assistance!

https://web.archive.org/web/20220518105845/https://datto.engineering/post/troubleshooting-tls-session-re-use-and-mutual-authentication-in-haproxy

[2022-09-11 23:31] Firstyear commented on #1003
@vDorst No problem, we are always here to help as needed. :)

@yaleman I think we could transcribe some of this into our integrations doc if it's relevant.

[2022-09-15 01:42] #1023 closed

[2022-09-18 21:42] yaleman opened #1063 "OAuth2 API endpoints return secrets by default"
### Short description of issue

The following endpoints are query-able and return the `oauth2_basic_secret` field to users with permission.

* `/v1/oauth2`
* `/v1/oauth2/:id` (Where `:id` is currently the string-type `oauth_rs_name`)

I suggest this should require an explicit call to an API endpoint (such as `/v1/oauth2/:id/secret`, or `/v1/oauth2/:id/_attr/oauth2_basic_secret`) to get it.

The dr

[2022-09-18 22:48] kittywitch opened #1064 "Provide TLS toggle for LDAP and HTTP separately"
**Is your feature request related to a problem? Please describe.**
My issue is that I do not have the capacity to reverse proxy the HTTP part of the application when it becomes HTTPS because I also want LDAPS.

**Describe the solution you'd like**
A description of what you'd expect to happen.
I would like a toggle in the config to turn HTTPS and LDAP off separately from one another.

**Describe al

[2022-09-18 22:50] Firstyear commented on #1064
Sorry I don't quite understand the problem. Do you want Kanidm to serve HTTP traffic (no TLS) and also LDAPS (with TLS) from the same configuration? Or are you trying to disable LDAP?

[2022-09-20 01:33] Firstyear commented on #1063
At the moment the ability to see that secret is pretty tightly locked to oauth2 administration roles however. So it's not a "huge" risk.

I think it could be good to split this to an api that you have to explicitly request the secret from, but if you have that permission you can just request the secret anyway, what makes that different to current where you need that permission? Is it more just abo

[2022-09-20 01:47] yaleman commented on #1063
Pretty much - to display a list of the OAuth2 RP's in the UI, I need just their descriptive information (id, name, origin), not the secret keys behind them. We should only pull/transmit secrets when absolutely necessary.

[2022-09-20 01:54] yaleman opened #1065 "UI Permissions Markers"
Should we add an extra type to UserAuthToken called "ui_hints" which is a BTreeSet of a new type "permission marker". These would be things like Oauth2, Groups, Persons, ServiceAccounts etc.  The idea is that when that ui_hint is set in the btreeset, we show that link / set of admin uis. Currently we can hardcode this to set "all the ui hints" in all accounts, but later we can actually make it der

[2022-09-20 05:22] kittywitch commented on #1064
I would like Kanidm to serve HTTP traffic (no TLS) while serving LDAPS (with TLS) in the same configuration, yes.

[2022-09-20 05:22] kittywitch commented on #1064
I would not like to disable LDAP.

[2022-09-21 01:30] Firstyear commented on #1064
hey there,

We had a chat about this, and it comes at an interesting time that you raised this issue. we've run into multiple issues with users either NOT configuring TLS properly, or wanting it in some ways like you want where you have more toggles. A major concern for us is "more configuration == more things that can go wrong == more support requests".

So we are going to propose and make a chan

[2022-09-21 01:30] #1064 closed

[2022-09-21 01:34] Firstyear commented on #1063
Okay, we need to change `JSON_SCHEMA_ATTR_OAUTH2_RS_BASIC_SECRET` from UTF8STRING to SECRET_UTF8STRING, we need to add a migration task to do the change, and then we need the extra api. That should do it.

[2022-09-21 03:09] yaleman commented on #1063
I'll have a go at it to see if I can work it out based on that last change. 😇 Or do the API bits and cry when I get to the perms. 🙄

[2022-09-23 01:45] yaleman commented on #919
I've made a mess of things in ^ there but as discussed this could be part of work around making uuid2spn more ergonomic.

[2022-09-25 01:21] #990 closed

[2022-09-25 01:24] Firstyear commented on #990
@max-privatevoid This is now merged and will be in the next release. For your use case, you should be able to add your service account to the group `idm_people_read_priv` which will allow the "mail" attribute to be read. This works via api and ldap. There will be more improvements in the space for application password support too ! Also starting to improve some of the ipa migration tooling too.

[2022-09-25 04:31] yaleman opened #1072 "build failure in actions - multiple rust versions appearing"
### I did this

Pushed to master

### I expected the following

rust things complete the builds

### What happened

The github actions automation failed - somehow after installing rustc 1.64 it ran make with `1.63` -
https://github.com/kanidm/kanidm/actions/runs/3120455346/jobs/5061045245#step:6:1041

[code]

Nek minnit

[code]

[2022-09-28 00:31] #1072 closed

[2022-09-28 03:53] Firstyear opened #1082 "Cookies and Tokens are a bit ambiguous in usage"
We currently issue both. The reason is a number of rust libraries don't properly support cookies, or rather persisting them in some fashion. As a result we use tokens in these cases. We extended that to tokens in browser, but that may expose us to xss attacks.

To resolve this we need clearer patterns about cookie and token issuance. This is tied into #406 because the ability to have sessions in t

[2022-10-03 19:43] kalebo opened #1091 "PAM login issues on Ubuntu/Debian"
### I did this

I set up kanidm with PAM and nsswitch integration to allow user login based on the instructions here: https://kanidm.github.io/kanidm/master/integrations/pam_and_nsswitch.html

My configuration is as follows

`/etc/kanidm/unixd`:
[code]

`/etc/kanidm/config`:
[code]

`/etc/nsswitch.conf`
[code]

I integrate PAM and kanidm using `pam-auth-update` using `/usr/share/pam-configs/kanidm

[2022-10-03 21:56] yaleman commented on #1091
Random question - have you tried logging in to the system directly via ssh or console, rather than su? On my Ubuntu machines, /etc/pam.d/su is a separate file with its own overrides, which may be causing the failures.

[2022-10-03 22:22] kalebo commented on #1091
Yes, ssh behaves in a similar fashion. From a cursory examination `/etc/pam.d/su` doesn't seem to have anything too different (omitting commented lines):

[code]

[2022-10-04 01:38] Firstyear opened #1092 "Ubuntu package unix lists wrong config"
[code]

Should be:

[code]

[2022-10-04 01:42] yaleman opened #1093 "Create systemd unit files for ubuntu packages"
**Is your feature request related to a problem? Please describe.**

While building all the packaging bits I didn't make systemd unit files. Weird.

**Describe the solution you'd like**

Copypasta them from elsewhere

**Describe alternatives you've considered**

Be a big meanie and not do it

**Additional context**

I declare hugs for everyone and small pieces of cake for anyone that doesn't want h

[2022-10-04 01:56] Firstyear commented on #1091
Starting to try to reproduce this and wow I have to ask how did you install and configure this! I don't think it's nearly as simple as just "install the package". Even files like `/usr/share/pam-configs/kanidm`, where is that coming from? Did you create this?

As a note, you don't want this:

[code]

pam_kanidm doesn't support updating the unix password in this fashion, so the module shouldn't be

[2022-10-04 03:21] kalebo commented on #1091
Thanks for the comprehensive response.  Answering your first question, yes `/usr/share/pam-configs/kanidm` is something that I threw together (however I don't claim to have particularly deep understanding of the subtleties of PAM;  I just didn't want to have updates screw up the pam config so had to wire it into pam-auth-config). The package itself is just a glorified tarball made from another scr

[2022-10-04 03:35] yaleman commented on #1091
It might be worth running `strace` on su to see if it's failing to write something? I assume you've got `kanidm-unixd-tasks` running as a root user?

[2022-10-04 04:09] kalebo commented on #1091
Ah ha, here is a pam-auth-config configuration that works (or at least lets me login and sets up the home directory symlinks):

[code]

Note that the last two modules, specifically for session, need to be marked as additional.

As a side question, does kanidm not use `/etc/skel` for populating the home directory?

[2022-10-04 04:32] Firstyear commented on #1091
I'm not seeing the difference, what did you do differently to my suggested file?

[2022-10-04 04:32] Firstyear commented on #1091
Also currently no - looks like there are comments about that in the code 🤣

[2022-10-04 04:35] kalebo commented on #1091
See the explanatory line under the code block in my post. Session needs to be `Additional`, not `Primary` AFAICT.

[2022-10-04 04:38] Firstyear commented on #1091
Ahhh I see it. I'd be the session being additional that was the fix I guess.

[2022-10-04 04:42] kalebo commented on #1091
Thanks for the help pinning down the problem @Firstyear! I'll go ahead and close out this issue.

[2022-10-04 04:42] #1091 closed

[2022-10-04 04:54] Firstyear commented on #1091
@kalebo Can you submit the pam-auth-config into the platform directory? It'll be useful for our future ubuntu packages.

[2022-10-06 09:10] yaleman opened #1096 "Cannot build WASM currently"
### I did this

Tried to run the WASM build

### I expected the following

Happiness

### Kanidm version (and git commit)

Current master branch

### Operating System / Version

Any

### Any other comments

[2022-10-06 13:32] arianvp opened #1097 "PKCE Downgrade Attack possible when PKCE enforcement mode not enabled"
### Short description of issue

I think Kanidm's implementation of the authorization code flow is vulnerable to [PKCE Downgrade Attack](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-security-topics#section-4.8)

In order to not be vulnerable, the token endpoint must reject requests that contain a `code_verifier` but the `code` does not have an associated `code_challenge`. Currently kanidm

[2022-10-07 00:24] yaleman commented on #1097
Thanks @arianvp, that's a great catch!

[2022-10-07 05:42] #1096 closed

[2022-10-09 00:15] Firstyear commented on #597
@yaleman Is this completed now? I think it is?

[2022-10-09 00:16] Firstyear commented on #444
I think this has been resolved via various improvements to the code base

[2022-10-09 00:16] #444 closed

[2022-10-09 00:16] Firstyear commented on #325
This exists now :)

[2022-10-09 00:16] #325 closed

[2022-10-09 00:18] Firstyear commented on #164
Mostly done, we just need a way to display the qrcode to the user so they can do the pw-reset flow on a new device or enter the code.

[2022-10-09 00:18] Firstyear commented on #1063
Doing this today

[2022-10-09 01:57] #1097 closed

[2022-10-09 03:53] yaleman commented on #597
Yep, looks sorted from my testing.

[2022-10-09 03:53] #597 closed

[2022-10-09 07:11] #1063 closed

[2022-10-09 21:48] yaleman commented on #1082
There's no reason not to use tokens as auth in requests from the WASM side either, TBH. That'd remove all the server-side handling of cookies, and we just use cookies/localstorage as the storage for the tokens instead of `~/.cache/kanidm` 😃

[2022-10-09 22:33] Firstyear commented on #1082
The reason to consider cookies-only for wasm is that using tokens opens us to potentially XSS attacks :(

[2022-10-09 22:48] yaleman commented on #1082
I probably should understand the entire attack surface better, but the Content-Security-Policy headers *should* save us from those kinds of things.

[2022-10-09 22:50] Firstyear commented on #1082
Content Security Policy I think protects from external resources being added, but not scripts being embedded into content. A risk is something like kani has a lot of surface area for "user controlled values", so there is a risk these *may* be able to inject js into the page. Generally this isn't a problem with Yew because of how it renders DOM nodes and we never actually allow values to be directl

[2022-10-09 22:59] #1092 closed

[2022-10-09 23:00] Firstyear commented on #1082
Actualy you're right, CSP might defend here?

[2022-10-09 23:02] yaleman commented on #1082
It does include provisions for embedded scripts - that's all the work I did with nonces and stuff, but due to the WASM I think we can't block *everything*.

I'm still not sure how using cookies saves us more than token-in-headers, since surely the embedded content would have the same access to the cookies in that case.

[2022-10-09 23:03] Firstyear commented on #1082
IIRC JS can't access the cookies *content*, it can transmit it via a fetch, and the the same-site policy prevents that. Where as JS can access a tokens content and do whatever it wants.

[2022-10-09 23:07] Firstyear commented on #1082
The other reason for cookies vs tokens is it removes a *lot* of token passing/handling code from the wasm, which overall simplifies the developer fetch api usage.

[2022-10-09 23:17] yaleman commented on #1082
I was going to macro some of that because it's pretty icky, but yeah, I guess fetch automagically sends the cookies which would preclude having to deal with it at all.

[2022-10-09 23:18] Firstyear commented on #1082
Yep. And for the flaws of cookies, they are a more "understood problem" for security, where tokens are not. So I think it's worth it for those reasons.

[2022-10-10 11:18] #191 closed

[2022-10-11 02:38] Firstyear commented on #303
Im not sure this really still falls in scope, maybe we can remove this item? @yaleman ?

[2022-10-11 02:47] Firstyear commented on #301
https://github.com/tokio-rs/tokio/discussions

[2022-10-11 02:47] Firstyear commented on #302
https://github.com/tokio-rs/tokio/discussions

[2022-10-11 03:02] Firstyear opened #1114 "Marking of entries as "protected" during sync phase, remove protection in final sync"
Entries that are still under the control of an external IDM authority should not be altered by Kanidm. We may allow "overrides" in the case that entries in a specific sync domain can have a subset of attrs altered?

[2022-10-11 03:02] Firstyear opened #1115 "User "sudo" or elevated permission mode"
Users should need to "re-authenticate" to access privileges in their account. This is similar to githubs sudo mode. This will allow longer lived sessions but with short-lived permission access.

[2022-10-11 03:08] Firstyear opened #1116 "Grant UI hints based on access control membership"

[2022-10-11 03:08] Firstyear opened #1117 "Extract access controls to items on the target entries"

[2022-10-11 03:08] Firstyear opened #1118 "Improve target and receiver rules to avoid filter"

[2022-10-11 03:31] Firstyear commented on #876
there may actually be a way to do this, so we don't block at all, but the run of the admin tool can indicate in the DB that the next read/write need to cache flush and proceed. I think we could add a PID marker of "last write", and if that differs from our current PID we use this to trigger an update of the PID marker, and issue a cache flush.

For now I think I set the DB into exclusive mode so i

[2022-10-11 04:55] yaleman commented on #302
Did you mean this thread? https://github.com/tokio-rs/tokio/discussions/2648

[2022-10-11 04:56] yaleman commented on #301
Relates to #302

[2022-10-11 04:56] Firstyear commented on #301
I think I didn't post the discussion ergh.

[2022-10-11 04:57] yaleman commented on #303
Yeah, this suggestion could be a whole company in itself TBH. I'd say close it as out of scope for Kanidm - we already provide guidance for the minimum possible configs and will update that guidance as better ideas come along.

[2022-10-11 04:58] #303 closed

[2022-10-11 04:59] Firstyear commented on #302
nope, tasks is seperate.

[2022-10-11 13:50] yaleman commented on #1093
closed by #1093

[2022-10-12 03:17] #1093 closed

[2022-10-12 04:56] Firstyear commented on #69
Yep, this is superseded by scim

[2022-10-12 04:56] #69 closed

[2022-10-13 08:31] Firstyear opened #1121 "Ability to store multiple TOTP with a password for migrations"

[2022-10-13 08:33] Firstyear opened #1122 "Account Policy"

[2022-10-14 06:15] Firstyear opened #1124 "Add ordering index to improve performance of expired session cleanup"

[2022-10-14 06:15] Firstyear opened #1125 "Add expired session cleanup"

[2022-10-16 08:55] vDorst opened #1126 "migrate_8_to_9 schema error -> InvalidAttributeSyntax("oauth2_rs_name") | event_tag_id: 1"
Today I tried to upgrade kanidm to the latest version.

Upgrades from an image of ` "Created": "2022-09-29T11:36:27.03601001Z",`.
Pulled today `ghcr.io/kanidm/kanidmd  devel       280b3f38f9cf  3 days ago     579 MB`

But I am getting this error
[code]

Last part out of +7000 lines RUST_LOG=trace part.
[code]

server.toml
[code]

FYI: I do had a working oauth2 setup.

[2022-10-16 22:27] yaleman opened #1131 "Develop a method for setting up a dev/test environment full of expected config"
**Is your feature request related to a problem? Please describe.**

It'd be handy to have a way of yeeting in a load of configuration elements to have a test/dev environment full of things.

To be clear, this is for *development* purposes, not for demo/real usage.

- [x] groups
- [x] persons
 - [ ] with SSH keys
 - [ ] various auth methods
- [ ] service accounts
- [x] oauth2 rp's
- [ ] RADIUS conf

[2022-10-16 23:16] Firstyear commented on #1131
I actually think we need to clamp down on "you can only upgrade one version at a time", that way we can

* trim all the old migration code
* test from currest stable -> dev when issues come up

Generally I think it would be hard to say "we have all these test db's" because they'd need configured oauth2 apps etc.

[2022-10-16 23:35] Firstyear commented on #1126
If you start up with the previous version of the server, can you show the oauth2 resource server definitions ( kanidm system oauth2 list )

The most likely reason for this is that the content of your oauth2 rs name is not compatible with the new iname policy that we are changing too. You likely need to rename your resource server. I think some better debugging/error logging in this area would help

[2022-10-17 06:11] vDorst commented on #1126
Restored too the old image.

[code]

[2022-10-17 06:50] Firstyear opened #1133 "Incorrect error on missing scopes in oauth"
[code]

This sends a 400 when it should be 403.

[2022-10-17 06:54] yaleman commented on #1131
While logging it, the reality of it kinda sunk in - hence the "process for creating example data" snuck in.

The "set up an environment and yeet in a load of config" thing is still a task for me, so devs can make sure the various UIen look right from a variety of directions.

[2022-10-17 07:20] yaleman commented on #1131
Original issue text, for posterity:

[2022-10-17 10:09] #406 closed

[2022-10-18 03:53] Firstyear commented on #1126
Okay, I can see the issue. It's a problem with `oauth2_rs_name: mail`. We are changing oauth2_rs_names to iname to resolve some potential issues with http basic auth to make it more reliable for users. iname happens to *also* contain a deny list of account names to prevent impersonation. 'mail' happens to be one of these values that we recently added, which is why you get the error.

So there I ha

[2022-10-18 09:15] #1133 closed

[2022-10-18 09:30] yaleman commented on #1126
Given the (current) short list of banned words (root, nobody, nogroup, wheel, sshd, shadow, systemd, mail, man, administrator) I don't see a reason to add a bunch of added complexity in a new entity type of `oauthscope` over `iname`, especially now that we've updated the responses around the enforcement of it.

[2022-10-19 00:27] Firstyear commented on #1126
Does make me wonder how to approach it when we change on expand the list of denied words though. But I think the fact we can do renames now will help to get users un-stuck.

[2022-10-19 09:06] vDorst commented on #1126
Thanks for the fix but I am hitting an other issue on the client side.
It seems that the newer client expect a `issued_at` field,

Current master
[code]

Login
[code]

Change the name
[code]
I really appreciate the hard work you do for me.
But it feels that in this case it maybe was simpler to just say: Just delete the blacklisted records before upgrade and recreate them after the upgrade.
I under

[2022-10-19 10:23] yaleman commented on #1126
That's a whole other issue today, just to confirm - are you running the same git revision on server and client? There's been some token/auth changes recently.

[2022-10-19 13:04] vDorst commented on #1126
Still running the old server. Because I need the change the oauth2_rs_name.

[2022-10-19 13:37] yaleman commented on #1126
Yeah, I think with some of the other changes that got merged you'd either have to cherry-pick commits out of the tree or just fresh re-configure the RS 🤔

[2022-10-19 13:40] vDorst commented on #1126
commit a7014e4b40c4b52a99d5e2f57d66e8378b507813 (HEAD -> master)
Author: René van Dorst <opensource@vdorst.com>
Date:   Wed Oct 19 15:35:18 2022 +0200

    Revert "20221011 sudo mode components (#1120)"

    This reverts commit 2845f8c4cc439b6164a35a0e0de09ea2989e99c8.

I reverted these two commits and it works now.

[code]

[2022-10-19 13:46] vDorst commented on #1126
Upgrading the server to the latest ghcr.io image, did now works fine.

[2022-10-19 13:46] #1126 closed

[2022-10-19 13:51] yaleman commented on #1126
Good to hear you got back online, thanks for your patience :D

[2022-10-19 14:04] vDorst commented on #1126
Lucky I do have backups so I can easily rollback to an working state.
Thank you both for the support and effort to fix my issue!

[2022-10-19 23:18] Firstyear commented on #1126
@vDorst Thank you so much for your patience and willingness to work through issues with us! Sorry it was a headache :(

[2022-10-30 07:23] Firstyear commented on #1125
@yaleman This blocks the next release, I'll resolve tomorrow.

[2022-10-31 00:50] #1082 closed

[2022-10-31 06:26] Firstyear opened #1163 "Review oauth 2 best practices guide"
https://datatracker.ietf.org/doc/html/draft-ietf-oauth-security-topics

We should check we are following these practices

[2022-11-01 01:27] #1125 closed

[2022-11-01 23:18] yaleman opened #1169 "Add "report-uri" as a Content-Security-Policy header setting"
### Discussed in https://github.com/kanidm/kanidm/discussions/850

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/report-uri

gave a configurable setting for the `report-uri` CSP header on `kanidmd`, defaulting to a value of `'none'` if unset.

[2022-11-03 00:18] mweinelt opened #1170 "Test failure around test_password_* on 1.1.0-alpha.10"
### I did this

Updated the package for nixpkgs and ran the test suite.

### I expected the following

The test suite should succeed

### Kanidm version (and git commit)

v1.1.0-alpha.10

### Operating System / Version

NixOS unstable (5.19.17)
OpenSSL 3.0.7

### Any other comments

[code]

[2022-11-03 00:24] Firstyear commented on #1170
Ahhhh we've seen this before. I think this is because openssl *may* be shipped without md4 support?

Can you try the tests with:

[code]

And at the end of the test look for a line like: "Unable to access MD4 - fips mode enabled?". That would indicate that MD4 isn't built/available in your openssl provider, which would cause this.

This is NOT a blocker for run time though, since the error *is* ha

[2022-11-03 00:26] Firstyear commented on #1170
From https://wiki.openssl.org/index.php/OpenSSL_3.0#Providers it may be that the legacy provider is disabled or not installed.

[2022-11-03 10:07] mweinelt commented on #1170
[code]

Doesn't look very tracey. Here is what I did to run this:

[code]

[2022-11-03 23:03] Firstyear commented on #1170
What distro/env are you using? I might be able to reproduce on my own.

[2022-11-03 23:11] mweinelt commented on #1170
I'm on NixOS. There are probably other distros where this can be reproduced easier.

[2022-11-04 00:37] yaleman commented on #1170
I'm having the same issue on macOS, rust v1.64.0 (stable)

[code]

[2022-11-04 00:38] Firstyear commented on #1170
@yaleman How did you install openssl? Brew? Or vendored in the package?

brew search openssl :)

[2022-11-04 01:30] Firstyear commented on #1170
I can reproduce now, so I'll submit a fix shortly.

[2022-11-04 01:54] yaleman commented on #1170
[code]

[2022-11-04 04:48] #1170 closed

[2022-11-06 00:35] tomberek commented on #547
When doing a quick test I ran into this at the conclusion of a webauthn registration:
[code]
[code]

[2022-11-06 03:00] yaleman commented on #547
From the logs: `Unable to start passkey registration | e: InvalidRPOrigin`

Does the hostname you're connecting to from the web browser match `origin` in your server configuration file?

[2022-11-07 08:33] tomberek commented on #547
Yep.... need the port. Thanks! Good work on the UI

[2022-11-07 23:25] Firstyear commented on #547
I think the errors in webauthn have anyhow descriptions, maybe we need to find how to print/ display these?

[2022-11-07 23:28] 9SMTM6 opened #1176 "Have a reccomended CLI-Tools distribution for most platforms"
**Is your feature request related to a problem? Please describe.**
As it stands the only reccomended way to get the cli tools is to use opensuse tumbleweed.
Many people might think of docker, but perhaps not all, and in any case giving your reccomendation for some way to have client tools would make entry easier and provide validation of it working by virtue of prople doing it and raising issues i

[2022-11-08 01:06] yaleman commented on #547
Yeah, this one looks like the error's not bubbling up correctly - it's currently bailing with a 500 when it could be returning a 400 and presenting it to the user in a nice way.

[2022-11-08 01:06] yaleman opened #1177 "Webauthn errors in UI"
It looks like the error's not bubbling up correctly - it's currently bailing with a 500 when it could be returning a 400 and presenting it to the user in a nice way.

_Originally posted by @yaleman in https://github.com/kanidm/kanidm/issues/547#issuecomment-1306459513_

[2022-11-08 01:07] yaleman commented on #547
^ New issue created here

[2022-11-08 01:07] Firstyear commented on #547
No I think the 500 is correct, more that when we display the webauthn error in the log, there is a long text form we can add too.

[2022-11-08 10:39] #1177 closed

[2022-11-09 03:00] yaleman commented on #1176
Oh, I wouldn't list the commands, maybe just link to the package links the same way they are in the docs? I'm not sure documenting "how to use the package manager on your chosen distribution" is something we can take responsibility for.

It's nice to be helpful, but at some point it's up to the person to understand how to use the OS, we're here to help use Kanidm?

[2022-11-09 03:03] Firstyear commented on #1176
That's true too.

[2022-11-09 21:42] #1176 closed

[2022-11-09 21:42] #1163 closed

[2022-11-11 03:47] yaleman opened #1183 "docs for oauth2 token inspection seem wrong"
### I did this

Went looking for the token introspection URL Here: https://kanidm.github.io/kanidm/master/integrations/oauth2.html

### I expected the following

A route that exists, I found - https://idm.example.com/oauth2/inspect

Should it be 'https://idm.example.com/oauth2/token/introspect' instead?

### Kanidm version (and git commit)

Current master

### Operating System / Version

n/a

###

[2022-11-11 03:49] Firstyear commented on #1183
It's fixed in a PR I'm just about to make 🤣 I'm currently finishing oauth2 logout and it has the introspect url fix.

[2022-11-11 03:56] yaleman commented on #1183
Is there any scope for that endpoint to be included in the discovery response? For context, I'm using kanidm_proto's `OidcDiscoveryResponse` in another project and it doesn't seem to be included... thought I haven't gone looking for RFCs which define what's supposed to be *in* that response yet 😄

[2022-11-11 03:57] Firstyear commented on #1183
Oidc doesn't use rfc7662 token introspection, which is why it's not in the discovery url.

[2022-11-13 04:10] #613 closed

[2022-11-13 05:12] Firstyear commented on #1183
Resolved

[2022-11-13 05:12] #1183 closed

[2022-11-14 14:11] yaleman opened #1198 "Group Memberships on profile page - should be sorted alphabetically"

[2022-11-16 02:16] #1124 closed

[2022-11-16 09:17] #1116 closed

[2022-11-19 23:50] micolous opened #1202 "Building on aarch64-pc-windows-msvc"
**Is your feature request related to a problem? Please describe.**

I want to be able to build and run kanidm for `aarch64-pc-windows-msvc` using native binaries (not emulation).

At present, `cargo build` fails with:

[code]

It appears this _specific_ failure is a problem with `ring`, which is an indirect dependency of `kanidm`; though there may be other issues I haven't found yet.

I'm making a

[2022-11-19 23:59] micolous commented on #1202
It looks like there was a PR to fix `ring`, but there hasn't been a release since then: https://github.com/briansmith/ring/issues/1167

There is a release planned: https://github.com/briansmith/ring/issues/1514#issuecomment-1265674750

[2022-11-20 00:21] micolous commented on #1202
Looking at [the CI config](https://github.com/kanidm/kanidm/blob/master/.github/workflows/windows_build.yml), it looks like only a subset of things are supposed to build right now on Windows.

Building with: `cargo build -p kanidm_client -p kanidm_tools -p orca -p daemon` works fine on `aarch64-pc-windows-msvc` because nothing is trying to pull in `rustls`.

[2022-11-20 00:48] micolous commented on #1202
The plot thickens:

* running the kanidm CLI with `cargo run --bin kanidm` fails (because of the aforementioned `ring` issue)
* running with `cargo run -p kanidm_tools` works fine

I think this is because Cargo is trying to build _everything_ in the `kanidm` tree in an attempt to find the binary, whereas selecting "binary of package `kanidm_tools`" is more specific.

[2022-11-20 04:29] micolous opened #1205 "Windows: kanidm_tools doesn't fall back to IPv4"
### I did this

I ran Kanidm with a slightly modified `insecure_example.toml` on a machine with IPv4 and link-local IPv6, and which has mDNS.  I've configured Kanidm to only listen on IPv4:

[code]

Then I try to run `kanidm_tool` on a Windows box (which also has IPv4 and link-local IPv6):

[code]

I then get an error: `No connection can be made because the target actively refused it.`

If I confi

[2022-11-20 04:46] micolous opened #1206 "insecure_generate_tls.sh generates bad certificates when CERT_NAME != localhost"
### I did this

I attempted to make a certificate for my dev install running commit https://github.com/kanidm/kanidm/commit/40dd911d1062d10849164dc2aa57ec77b7535914 with:

`CERT_NAME="myhostname.local" ./insecure_generate_tls.sh`

However connecting to it with Windows fails with:

`ERROR kanidm_cli::session: Error during authentication init phase: Transport(reqwest::Error { kind: Request, url: Url

[2022-11-20 04:55] yaleman commented on #1202
My cargo-tree view, so it's being picked up as part of the workspace resolver by the looks of it:
[code]

[2022-11-20 05:00] yaleman commented on #1206
Yeah, the change you listed matches the current standards for cert generation, it was just missed in a rewrite. If you can run a pull request for it, that'd be the fix - thanks 😄

[2022-11-20 13:13] 9SMTM6 opened #1207 "Improve Documentation concerning LDAP and Mail attributes"
**Is your feature request related to a problem? Please describe.**
When I tried to make Kanidms LDAP integration work with a few services I stumbled upon a few issues.

A few functional ones which will likely become separate issues, but a few just need improvements in the documentation, I've spent some time debugging these on my own.

**Describe the solution you'd like**
Kanidm book suggests using

[2022-11-20 13:22] 9SMTM6 opened #1208 "LDAP Bind to service account with non-empty bind dn"
**Is your feature request related to a problem? Please describe.**
Despite solving how to generally read mail attributes as described in https://github.com/kanidm/kanidm/issues/1207, it still doesnt work in Authelia, and perhaps also gitea with ldap.

First of all, were speaking about binding with access token from a service account to LDAP.

Unsure about gitea - what I'm noticing there is that se

[2022-11-20 23:19] yaleman commented on #1207
Thanks for the report - from memory you can use the api token (which is just a password) for authenticating LDAP, per the [example here](https://kanidm.github.io/kanidm/stable/accounts_and_groups.html#using-api-tokens-with-service-accounts).

The LDAP docs need a little updating once we validate the correct path to success though!

[2022-11-20 23:32] Firstyear commented on #1206
Yeah, I think the cn has to match the first subject alt name. I was planning/hoping to rewrite the tls gen to an internal setup with openssl inside of kanidmd, just to clean up the repo a bit, given how often we use these insecure certs.

[2022-11-20 23:39] yaleman commented on #1206
The effective standard is that CN's are irrelevant and SANs are the ones that are checked

[2022-11-20 23:47] Firstyear commented on #1206
But can we omit the CN then?

[2022-11-20 23:47] Firstyear commented on #1206
Unless you're ldap, then you refuse and only check the CN and all kinds of chaos.

[2022-11-20 23:55] yaleman commented on #1206
Nope, because 🌟 standards 🌟

🤮 yes, there is that I guess... That explains the issues I'm having elsewhere, now I think of it.

So, my understanding is that for you need a common name either way, but if the cert has SANs then they're the ones primarily checked (other than LDAPS because LDAP).

[2022-11-21 03:04] Firstyear commented on #1207
Might move some of that to the LDAP chapter though.

[2022-11-21 04:14] Firstyear commented on #1205
Yes I think you're right it's hyper. Our client is based on "reqwest" which wraps hyper, so you could probably could make a small reproducer with that to see if it's the lower levels.

[2022-11-21 04:44] Firstyear commented on #1202
I've had a look. There are four places where reqwest exists in our dependency tree.

* kanidm_unix_int
* kanidm_client
* kanidmd/testkit
* oauth2 as a dependency of the oauth2 test.

unix int and client both build in isolation correctly. I suspect the issue is in the boundary between oauth2 and testkit.

The problematic code (ring, rustls) are a *default* feature of reqwest. I suspect that they ar

[2022-11-21 06:51] #1202 closed

[2022-11-21 13:24] yaleman commented on #1208
Keycloak also forces a non-empty bind DN, maybe we can do one of:

- ignore entered bind DNs
- use them as an additional filter on authentication
- allow/require the use of the token id as the username, similar to how providers like AWS or OAuth require both the id and secret when authenticating. That'd allow an indexed token lookup instead of a table scan for tokens, too?

[2022-11-21 14:48] 9SMTM6 commented on #1208
All of these look fine to me as an enduser. I would actually prefer the last variant, I can imagine that this might make it easier to identify the token to remove should one such have leaked. A bit more work when rotating should it be required, but oh well.

[2022-11-22 07:55] Firstyear opened #1220 "Add healthcheck to docker container"

[2022-11-22 09:38] Firstyear opened #1221 "improve signal handling"
I think that docker is sending sigterm and we aren't trapping that.

[2022-11-22 23:31] yaleman opened #1222 "FAQ Item: what rights does anonymous have"
and how to get access to common things (eg mail)

[2022-11-22 23:38] Firstyear commented on #1222
I think a problem with this is that the definitions of access controls aren't fully stable yet, and I want to reset/redo all the base access controls for a bit better privilege seperation soon.

There is a feature req for doing "discovery" of "who can access what" with a cli tool, but I want to improve our general access control admin situation first.

[2022-11-22 23:49] yaleman commented on #1222
For sure, but "hey I can't access the mail attribute through LDAP" has come up publicly a few times and it *might* save that confusion for folks that are having it..?

[2022-11-22 23:52] yaleman commented on #1221
That'd explain my broken indexes 🤔

And yeah it'll send SIGTERM to start with, wait 10 seconds and then SIGKILL - https://docs.docker.com/engine/reference/commandline/stop/

It can be customised but catching it's probably better...

[2022-11-22 23:53] Firstyear commented on #1222
I think if we create a "read_mail" privilege seperate to the current "people read", that would resolve because we won't change it over the upgrade to the revamped access rules I'm considering. We can add it and then give people a release cycle to move over.

[2022-11-22 23:54] Firstyear commented on #1221
Yeah, I have been wondering for ages why db wasn't cleanly stopping, I thought it was working. Anyway, it's not a hard fix, I'll do it today. We can also trap a few other signals here too.

[2022-11-23 00:42] Firstyear commented on #1208
I think we need the key id as the username here. We can't just ignore the bind dn because we use then we affect the logic of unix password checks via ldap.

The way we currently do this is with "" binds, if there is a value in PW set, then we are extracting the JWS keyid and using that to determine the service-account that is attempting the login.

We could just allow the keyid as the binddn inste

[2022-11-23 00:43] Firstyear commented on #1208
Actually, you're right, token as the binddn makes more sense.

[2022-11-23 01:57] yaleman commented on #1208
so to validate my understanding, LDAP auth will use:

- username: the value of `token_id` (which is visible in `kanidm  service-account api-token status <username>`)
- password: the token

The token id probably needs to be shown on create then

[2022-11-23 02:40] Firstyear commented on #1208
I think your suggestion to pass the token as the dn is better, since we can just ignore the pw field then.

[2022-11-23 04:07] Firstyear commented on #1208
Aaaaaaaaaaaaa true. Okay I'll re-do the pr, that's a really good point.

[2022-11-23 04:27] yaleman commented on #1208
And it helps with "hey which token has been stolen and we need to disable it" since bind username's logged etc 😄

[2022-11-23 06:02] #1208 closed

[2022-11-23 08:01] Firstyear opened #1226 "Make default html point out the enhanced security disable"
We should redraw to loading immediately, but we need a way to show when wasm isn't triggering on load.

[2022-11-23 08:38] NPCDW opened #1227 "Resolve TLS without kanidm"
**Is your feature request related to a problem? Please describe.**
I want to manage all ssl certificates through `nginx` instead of handing over to each application in the `nginx` backend.

I tried to configure ssl in both `nginx` and `kanidm` and sure enough got an error.
![image](https://user-images.githubusercontent.com/32638459/203504769-723a8f95-04b4-4a18-9e49-ecb5ced5e178.png)
![image](https

[2022-11-23 09:24] Firstyear commented on #1227
We have specifically chosen to enforce that load balancers / reverse proxies to kanidm must require TLS on that connection.

This was due to multiple cases of user confusion where they did not know where or how TLS should be linked between the proxy and kanidm. The assumption that the network connection between the proxy and kanidm is secure is also not guaranteed to be true.

We consider that  ha

[2022-11-23 09:31] yaleman commented on #1227
Aside from user confusion, running TLS between the load balancer and the service is best practice, especially for an identity management platform.

[2022-11-23 09:50] #1227 closed

[2022-11-23 10:09] yaleman opened #1229 "Fix windows signal handler bits"
Ref this:

__Originally posted by @Firstyear in https://github.com/kanidm/kanidm/pull/1223#issuecomment-1324795849__

[2022-11-23 10:10] #1221 closed

[2022-11-23 10:18] yaleman commented on #1220
As discussed we can implement this as a Kanidmd command which loads the config, figures out the URL and checks the status endpoint.

[2022-11-23 22:27] Firstyear commented on #1226
You know, I think it should absolutely look exactly like this.